<section data-ng-controller="RostersController" data-ng-init="findUsers()">
    <div class="page-header">
        <h2>Roster</h2>
    </div>
    <div class="col-sm-6">
    <div class="list-group">
        <span data-ng-repeat="user in users | orderBy:'lastName'" class="list-group-item">
            <h4 class="list-group-item-heading">
                <span data-ng-bind="user.lastName"></span>, <span data-ng-bind="user.firstName"></span>
            </h4>
            <a style="float:right; color:#f3ec19;" data-ng-href="#!/users/{{user._id}}/edit"> Edit User </a>
            <div>Phone Number: <span data-ng-bind="user.phone"></span></div>
            <div>Email: <span data-ng-bind="user.email"></span></div>            
        </span> 
    
    <div class="alert alert-warning text-center" data-ng-hide="!users.$resolved || users.length">
    	No Users yet
    </div>
        </div>
</section>