<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<div class="container" data-ng-controller="HeaderController">
	<div class="navbar-header">
		<button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
			<span class="sr-only">Toggle navigation</span>
		</button>
		<a href="/#!/" class="navbar-brand azzenda-font">Azzenda</a>
	</div>
	
	<nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
		
        <ul class="nav navbar-nav" data-ng-if="menu.shouldRender(authentication.user);">
			
            <li ng-click="activate('dash')"> 
            	<a ng-class="{'top-menu-active': isActive('/splashes'), 'top-menu': !isActive('/splashes'), 'azzenda-font': true}" href="/#!/splashes">
	                <i class="fa fa-tachometer fa"></i>
					Dash
				</a>
            </li>
            <li ng-click="activate('events')">
	            <a ng-class="{'top-menu-active': isActive('/events'), 'top-menu': !isActive('/events'), 'azzenda-font': true}" href="/#!/events">
	                <i class="fa fa-calendar"></i>
	                Events
	            </a>
            </li>
            <li>
	            <a ng-class="{'top-menu-active': isActive('/users'), 'top-menu': !isActive('/users'), 'azzenda-font': true}" href="/#!/users">
	                <i class="fa fa-user fa"></i>
	                Roster
	            </a>
            </li>
            <li>
	            <a ng-class="{'top-menu-active': isActive('/projects'), 'top-menu': !isActive('/projects'), 'azzenda-font': true}" href="/#!/projects">
	                <i class="fa fa-paperclip"></i>
	                Projects
	            </a>
            </li>
            <li>
	            <a ng-class="{'top-menu-active': isActive('/teams'), 'top-menu': !isActive('/teams'), 'azzenda-font': true}" href="/#!/teams">
	                <i class="fa fa-users"></i>
	                Teams
	            </a>
            </li>
            <li>
	            <a ng-class="{'top-menu-active': isActive('/tasks'), 'top-menu': !isActive('/tasks'), 'azzenda-font': true}" href="/#!/tasks">
	                <i class="fa fa-check"></i>
	                Tasks
	            </a>
	        </li>
	        <li>
	            <a ng-class="{'top-menu-active': isActive('/settings'), 'top-menu': !isActive('/settings'), 'azzenda-font': true}" href="/#!/settings">
	                <i class="fa fa-cogs"></i>
	                Settings
	            </a>
            </li>
            
		</ul>
		<ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
			<li ui-route="/signup" ng-class="{active: $uiRoute}">
				<a href="/#!/signup">Sign Up</a>
			</li>
			<li class="divider-vertical"></li>
			<li ui-route="/signin" ng-class="{active: $uiRoute}">
				<a href="/#!/signin">Sign In</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<span class="top-menu" id="header-username" data-ng-bind="authentication.user.displayName"></span> <b class="caret top-menu"></b>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="/#!/settings/profile">Edit Profile</a>
					</li>
					<li>
						<a href="/#!/settings/accounts">Manage Social Accounts</a>
					</li>
					<li data-ng-show="authentication.user.provider === 'local'">
						<a href="/#!/settings/password">Change Password</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="/auth/signout">Signout</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
</div>