<section data-ng-controller="HomeController" data-ng-init="find()">
<div class="row well top-well">
    <div class="text-center">
        <span class="splash">This is </span> 
        <span class="azzenda-font splash"> Azzenda.</span>
    </div>
    <div class="text-center">
        <span class="azzenda-font"> Azzenda </span> is the world's most powerful team management application.
    </div>
    <div class="text-center" style="padding-top:20px;" data-ng-if="showSignUp()">
        <span>
        	<span data-ng-if="!userExists()">
	            <a href="/#!/signup" class="btn btn-teal"> Sign-up </a>
   		         or
            </span>
            <a href="/#!/signin" class="btn btn-default"> Sign-in </a>
        </span>
    </div>
</div> 
    
<div id="splash-grid" class="text-center">
    <div class="row">
        <div class="col-md-3 splash-grid">
            <a class="btn-bar">
                <i class="fa fa-calendar fa-3x"></i>
            </a>
            <div class="font-med azzenda-font"><u>Events</u></div>
            <span class="splash-transitions">
                Schedule events like never before by letting <span class="azzenda-font">Azzenda</span> take the reigns.
            </span>
        </div>
        <div class="col-md-3 splash-grid">
            <a class="btn-bar">
                <i class="fa fa-user fa-3x"></i>
            </a>
            <div class="font-med azzenda-font"><u>Roster</u></div>
            <span class="splash-transitions">
                Let <span class="azzenda-font">Azzenda</span> manage your organization's roster, including skills, contact info, and more.
            </span>
        </div>
        <div class="col-md-3 splash-grid">
            <a class="btn-bar">
                <i class="fa fa-envelope-o fa-3x"></i>
            </a>
            <div class="font-med azzenda-font"><u>Messages</u></div>
            <span class="splash-transitions">
                Users can send and receive messages via their preferred method of communication (text, email, etc.) thanks to <span class="azzenda-font">Azzenda</span>.
            </span>
        </div>
        <div class="col-md-3 splash-grid">
            <a class="btn-bar">
                <i class="fa fa-paperclip fa-3x"></i>
            </a>
            <div class="font-med azzenda-font"><u>Projects</u></div>
            <span class="splash-transitions">
                <span class="azzenda-font">Azzenda</span> keeps projects organized by keeping Events, Members, and more all in one easy-to-find place.
            </span>
        </div>
    </div>
    
    <div class="row">
        
        <div class="col-md-5ths splash-grid">
            <a class="btn-bar">
                <i class="fa fa-users fa-3x"></i>
            </a>
            <div class="font-med azzenda-font"><u>Teams</u></div>
            <span class="splash-transitions">
                <span class="azzenda-font">Azzenda</span> simplifies team management by splitting members into flexible, overlapping teams.
            </span>
        </div>
        <div class="col-md-5ths splash-grid">
            <a class="btn-bar">
                <i class="fa fa-archive fa-3x"></i>
            </a>
            <div class="font-med azzenda-font"><u>Inventory</u></div>
            <span class="splash-transitions">
                An organization's resources can be managed, tracked, and checked out with <span class="azzenda-font">Azzenda</span>.
            </span>
        </div>
        <div class="col-md-5ths splash-grid">
            <a class="btn-bar">
                <i class="fa fa-usd fa-3x"></i>
            </a>
            <div class="font-med azzenda-font"><u>Finances</u></div>
            <span class="splash-transitions">
                Don't let the money get away. <span class="azzenda-font">Azzenda</span>'s revolutionary visualizations help ensure that projects stay within their budgets.
            </span>
        </div>
        <div class="col-md-5ths splash-grid">
            <a class="btn-bar">
                <i class="fa fa-check fa-3x"></i>
            </a>
            <div class="font-med azzenda-font"><u>Tasks</u></div>
            <span class="splash-transitions">
                Keep track of tasks for projects and more with <span class="azzenda-font">Azzenda</span>.
            </span>
        </div>
        <div class="col-md-5ths splash-grid">
            <a class="btn-bar">
                <i class="fa fa-clock-o fa-3x"></i>
            </a>
            <div class="font-med azzenda-font"><u>Time</u></div>
            <span class="splash-transitions">
                Monitor how much time team members spend on certain tasks with <span class="azzenda-font">Azzenda</span>'s time tracking tool.
            </span>
        </div>
    </div>
</div>
</section>