<section data-ng-controller="HomeController">
    <div class="col-md-12 well">
		<h2>Welcome to Azzenda.</h2>
		<p>
			This is some basic information and links.
		</p>
	</div>
    <div class="col-md-7">
        <div class="col-md-12 row well">
            <h2>
                <strong>Events</strong>
            </h2>
            <div class="list-group">
                <div class="list-group-item">
                    <div class="list-group-item-heading">
                        <h3>Writing Meeting #2</h3>
                    </div>
                    <i>Fall 2015 Web Series</i>
                    <p>Wednedsay, May 13, 2015 - 8:00 PM</p>
                    <p>Google+ Hangout</p>
                </div>
                <div class="list-group-item">
                    <div class="list-group-item-heading">
                        <h3>Meeting #2</h3>
                    </div>
                    <i>Top-Tier Executive Board</i>
                    <p>Tuesday, May 12, 2015 - 8:00 PM</p>
                    <p>Google+ Hangout</p>
                </div>
            </div>
        </div>
        <div class="col-md-12 row well">
            <h2>
                <strong>Finances</strong>
            </h2>
            <p>This is a look at the current financial situation.</p>
        </div>
    </div>
    <div class="col-md-5">
        <div class="row well">
            <h2>
                <strong>Projects</strong>
            </h2>
            <div class="list-group">
                <div class="list-group-item">
                    <div class="list-group-item-heading">
                        <h3>Fall 2015 Web Series</h3>
                    </div>
                    <i>Web Series - FA15</i>
                    <p>Pre-Production</p>
                </div>
                <div class="list-group-item">
                    <div class="list-group-item-heading">
                        <h3>Rules for Living the YOLO Lifestyle</h3>
                    </div>
                    <i>Web Series - RLY</i>
                    <p>Post-Production</p>
                </div>
                <div class="list-group-item">
                    <div class="list-group-item-heading">
                        <h3>Second Time</h3>
                    </div>
                    <i>Web Series - ST</i>
                    <p>Post-Production</p>
                </div>
            </div>
        </div>
        <div class="row well">
            <h2>
                <strong>Groups</strong>
            </h2>
            <div class="list-group">
                <div class="list-group-item">
                    <div class="list-group-item-heading">
                        <h3>Top-Tier Executive Board</h3>
                    </div>
                    <p>You, Ben Heuser, and Emma Green.</p>
                </div>
                <div class="list-group-item">
                    <div class="list-group-item-heading">
                        <h3>Editors</h3>
                    </div>
                    <p>You, Michelle Stone, Valentina Verano, and 2 others.</p>
                </div>
                <div class="list-group-item">
                    <div class="list-group-item-heading">
                        <h3>Directors</h3>
                    </div>
                    <p>You and Ben Heuser.</p>
                </div>
            </div>
        </div>
    </div>

</section>