<section data-ng-controller="ThreadsController">
    <div class="col-md-12 modal-col well">
        <span class="text-center">
        	<h1><u>New Thread</u></h1>
        </span>
        <form class="form-horizontal" novalidate>
            <fieldset>
                <!-- Description -->
                <div class="form-group">
                    <label class="control-label" for="text">What do you want to say?</label>
                    <div class="controls">
                        <textarea data-ng-model="text" id="text" class="form-control" placeholder="We would like a large pie with pepperoni, pineapple and cheesy crust." rows="3" required></textarea>
                    </div>
                </div>
                
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
               <div class="row modal-buttons">
                    <div class="col-md-6">
                        <div class="form-group pull-left">
                            <button type="button" ng-click="ok()" class="btn btn-teal" value="">Cancel</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group pull-right">
                            <input id="create-group-button" type="submit" ng-click="create()" class="btn btn-yellow" value="Start Thread">
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</section>