<section data-ng-controller="ThreadsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Threads</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="thread in threads" data-ng-href="#!/threads/{{thread._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="thread.created | date:'medium'"></span>
				by
				<span data-ng-bind="thread.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="thread.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!threads.$resolved || threads.length">
    	No Threads yet, why don't you <a href="/#!/threads/create">create one</a>?
    </div>
</section>