.team-name {
	font-size: 20px;
}

.extraPics {
	display: inline-block;
	height: 64px;
	width: 64px;
	border: solid;
	font-size: 20px;
	vertical-align: middle;
	text-align: center;
	background-color: #ccc;
	border-color: #555;
	color: #555;
}

.extraPics-40 {
	display: inline-block;
	height: 40px;
	width: 40px;
	border: solid;
	font-size: 12px;
	vertical-align: middle;
	text-align: center;
	background-color: #ccc;
	border-color: #555;
	color: #555;	
}

.extraNums {
	display: inline-block;
	margin-top: 15px;
}

.extraNums-40 {
	display: inline-block;
	margin-top: 10px;
}

.team-list {
	height: 64px;
}

.full-team-modal {
	max-height: 300px;
}

.all-names {
	display: inline-block;
	width: 64px;
	height: 64px;
	margin-left: 10px;
	margin-bottom: 10px;
}