.DS_Store
.nodemonignore
.sass-cache/
npm-debug.log
node_modules/
public/lib
app/tests/coverage/
.bower-*/
.idea/
dumpdatabase.bat
azzenda.bat
.project
application/.metadata/.lock
application/.metadata/.mylyn/repositories.xml.zip
application/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.indexes/properties.index
application/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/org.eclipse.egit.core/GitProjectData.properties
application/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
application/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
application/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
application/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
application/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
application/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
application/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
application/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
application/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
application/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
application/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
application/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
application/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
application/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
application/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.ui.prefs
application/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
application/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
application/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
application/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
application/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
application/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.fdt
application/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.fdx
application/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.fnm
application/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.frq
application/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.nrm
application/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.tii
application/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.tis
application/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/segments.gen
application/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/segments_1
application/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_0.fdt
application/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_0.fdx
application/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_0.fnm
application/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_0.frq
application/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_0.nrm
application/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_0.tii
application/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_0.tis
application/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/segments.gen
application/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/segments_1
application/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
application/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
application/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
application/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
application/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
application/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
application/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.6.0.20150526-2032.xml
application/.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
application/.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
application/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.rem_7/FP.local.files_0/node.properties
application/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.rem_7/H.local_16/node.properties
application/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.rem_7/node.properties
application/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
application/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
application/.metadata/version.ini
/nodejs/
/mongodb/
.metadata/.lock
.metadata/.mylyn/repositories.xml.zip
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.cvs.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.5.0.20140606-0033.xml
.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.rem_7/FP.local.files_0/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.rem_7/H.local_16/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.rem_7/node.properties
.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.intro/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/version.ini
