<section data-ng-controller="SplashesController" data-ng-init="find()">
<div class="col-md-12 well top-well text-center">
		<div style="padding-bottom:10px;">
            <span class="h2 blue">Welcome to </span> 
            <span class="h2 tangible-font"> Tangible Productions'</span>
            <span class="azzenda-font h2 yellow"> Azzenda.</span>
        </div>
        <hr>
		<p style="padding-top: 10px; font-size:16px;">
			<a href="http://www.mediayoucanfeel.com" style="padding-right:20px;"><i class="fa fa-globe"></i> Website</a>
			<a href="http://www.youtube.com/TangibleProductions1" style="padding-right:20px;"><i class="fa fa-youtube"></i> YouTube</a>
			<a href="http://www.facebook.com/TangibleProductions" style="padding-right:20px;"><i class="fa fa-facebook-official"></i> Facebook</a>
			<a href="http://www.twitter.com/MediaYouCanFeel" style="padding-right:20px;"><i class="fa fa-twitter"></i> Twitter</a>
			<a href="http://www.instagram.com/MediaYouCanFeel"><i class="fa fa-instagram"></i> Instagram</a>
		</p>
	</div>
    <div class="col-md-7">
        <div class="col-md-12 row well" data-ng-controller="EventsController" data-ng-init="find()">
            <h2>
                <strong>
                    <a ng-href="/#!/events">Events</a>
                </strong>
            </h2>
            <div class="list-group" data-ng-init="findEvents()">
				<a ng-repeat="event in events | orderBy : 'sched.start' | limitTo: 5 " data-ng-href="#!/events/{{event._id}}" ng-class="{'list-group-item-personal': event.status == 'personal', 'list-group-item' : true}">
					
					<div class="event-rep-name">
                        <span data-ng-bind="event.name"></span>
                        <span class="pull-right">
                        	<i ng-show="event.status == 'personal'" class="fa fa-user"></i>
                        	<i ng-show="event.status != 'personal'" class="fa fa-users"></i>
                        </span>
                        <hr>
                    </div>
                    
                     <!-- Initializing date formatter -->
                    <span>{{readableDate(event.sched.start)}}</span>
                    <div class="event-rep-date" data-ng-bind="printDate"></div>
                    
	                <span ng-hide="event.status == 'personal'">  
	                   	<div data-ng-bind="event.location.name"></div>
	                   
	                   	<div class="row">
					    	<div class="pull-right event-rep-proj">
						    	<strong data-ng-bind="event.proj.name"> </strong>
						        
						        <i class="fa fa-ellipsis-v" ng-if="event.proj.name && event.type"></i>
					        	<span data-ng-bind="event.type"></span>
			        		</div>
		        		</div>
	        		</span>
				</a>
				<a ng-if="events.length > 5" ng-href="/#!/events" class="list-group-item text-center">
    				<div class="team-name">+ {{events.length - 5}} more</div>
    			</a>   
			</div>
        </div>
        <div class="col-md-12 row well" data-ng-controller="TasksController" data-ng-init="find()">
            <h2>
                <strong>
                    <a ng-href="/#!/tasks">Tasks</a>
                </strong>
            </h2>
        	<a data-ng-repeat="task in tasks | limitTo: 5" data-ng-href="#!/tasks/{{task._id}}" class="list-group-item">
				<small class="list-group-item-text">
				<div class="row">
					<div class="col-md-12" data-ng-init="getType(task.status)">
						<span class="project-rep-name list-group-item-heading" data-ng-bind="task.name"></span>
						<progressbar class="progress-detail active pull-right" value="getValue(task.status)" type="{{getType(task.status)}}"></progressbar>
						<div data-ng-bind="task.project.name" style="font-size:14px;"></div>
					</div>
				</div>
	        </a>
	        <a ng-if="tasks.length > 5" ng-href="/#!/tasks" class="list-group-item text-center">
    			<div class="team-name">+ {{tasks.length - 5}} more</div>
    		</a>
        </div>
    </div>
    <div class="col-md-5">
        <div class="row well">
            <h2>
                <strong>
                    <a ng-href="/#!/projects">Projects</a>
                </strong>
            </h2>
            <div class="list-group" data-ng-controller="ProjectsController" data-ng-init="find()">
		        <a data-ng-repeat="project in projects | orderBy: 'name' | limitTo: 5" data-ng-href="#!/projects/{{project._id}}" class="list-group-item">
					<small class="list-group-item-text">
					<div class="row">
						<div class="col-md-6 project-rep-name">
							<div class="list-group-item-heading" data-ng-bind="project.name"></div>
						</div>
						<div class="col-md-6 project-rep-type">
							<div class="pull-right" data-ng-bind="project.type"></div>
						</div>
					</div>
		        </a>
		        <a ng-if="projects.length > 5" ng-href="/#!/projects" class="list-group-item text-center">
	    			<div class="team-name">+ {{projects.length - 5}} more</div>
	    		</a>
		    </div>
        </div>
        <div class="row well" data-ng-controller="TeamsController" data-ng-init="find()">
            <h2>
                <strong>
                    <a ng-href="/#!/groups">Teams</a>
                </strong>
            </h2>
	    	<a ng-repeat="team in teams | orderBy: 'name' | limitTo: 5" ng-href="/#!/teams/{{team._id}}" class="list-group-item">
	    		<div class="team-name">
	    			<span data-ng-bind="team.name"></span>
	    			(<span data-ng-bind="team.project.name"></span>)
	    		</div>
	    		<span data-ng-bind="team.users.length"></span> members
	    	</a>
	    	<a ng-if="teams.length > 5" ng-href="/#!/teams" class="list-group-item text-center">
	    		<div class="team-name">+ {{teams.length - 5}} more</div>
	    	</a>
        </div>
    </div>
</section>