<section data-ng-controller="EventsController" data-ng-init="initModal()">
    <!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&library=places&key=AIzaSyAb8G8uuxD1Pqilz6CEUIRccSsmu78yaf0"></script>-->
    <div class="col-md-12 well">
        <h1 class="text-center">Create Event</h1>
        <form class="form-horizontal" data-ng-submit="create()" id="createEventForm" novalidate>
            <fieldset>
                <div class="row" ng-init="createPage=1; findProjects(); findTeams(); findEventTypes(); findEventLocs();">
                    
                    <!-- ------ -->
                    <!-- PAGE 1 -->
                    <!-- ------ -->
                    <div class="modal-col" ng-show="createPage == 1">
                        <div class="text-center modal-heading"><u>Basic Info</u></div>
                        <!-- Name -->
                        <div class="form-group">
                            <label class="control-label" for="name">Name</label>
                            <div class="controls">
                                <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                            </div>
                            <div class="examples">
                                Examples: "Pizza Party", "Pizza Eating Contest"
                            </div>
                        </div>

                        <!-- Project -->
                        <div class="form-group">
                            <label class="control-label" for="project">Project</label>
                            <div class="fullWidth">
                                <select class="form-control fullWidth js-example-basic-single" data-tags="false" data-ng-model="project" id="project">
                                    <option ng-repeat="project in projects" data-ng-value="project._id">{{project.name}}</option>
                                </select>
                            </div>
					    </div> 

                        <!-- Type -->                        
                        <div class="form-group">
                            <label class="control-label" for="type">Type</label> 
                            <select id="select2_type" type="hidden" data-tags="true" class="form-control" data-ng-model="type">
                                <option ng-repeat="type in eventTypes" data-ng-value="type.name">{{type.name}}</option>
                            </select>
					        <div class="examples">
                                Examples: "Eating", "Baking"
                            </div>
                        </div> 
                        
                        <!-- Location -->
                        <div class="form-group">
                            <label class="control-label" for="location">Location</label>
                            <select id="select2_type" type="hidden" data-tags="true" class="form-control" data-ng-model="location">
                                <option ng-repeat="loc in eventLocs" data-ng-value="loc.name">{{loc.name}}</option>
                            </select>
                            <div class="examples">
                                Examples: "Domino's", "Papa John's"
                            </div>
                        </div>

						<!-- Duration -->
                        <div class="form-group">
                        	<span class="col-md-6">
                            <label class="control-label text-center" for="durationH">Duration (Hours)</label>
                            <div class="controls">
                               <input type="number" id="durationH" ng-model="hourDurationFromModal" placeholder="0"></input>
                            </div>
                            </span>
                             
                            <span class="col-md-6">
                            <label class="control-label text-center" for="durationM">Duration (Minutes)</label>
                            <div class="controls">
                               <input type="number" id="durationM" ng-model="minDurationFromModal" placeholder="0"></input>
                        	</div>
                        	</span>
                        </div>
                       

                        <!-- Description -->
                        <div class="form-group">
                            <label class="control-label" for="description">Description</label>
                            <div class="controls">
                                <textarea data-ng-model="description" id="description" class="form-control" placeholder="We would like a large pie with pepperoni, pineapple and cheesy crust." rows="5" required></textarea>
                            </div>
                        </div>

                    </div>
                
                	<!-- ------ -->
                	<!-- PAGE 2 -->
                	<!-- ------ -->
                    <div class="modal-col" ng-show="createPage == 2" ng-init="fixedDate=true; fixedFilter=true">
                        <div class="text-center modal-heading"><u>Date/Time</u></div>

						<div class="row">
							<div class="col-md-4 slider-buttons">
								<div class="col-md-6">Fixed Date</div>
							  	<input id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round-flat" type="checkbox" ng-model="fixedFilter" name="fixedFilter" value=true>
							  	<label for="cmn-toggle-1" class="col-md-6"></label>
							</div>
							<div class="col-md-4 slider-buttons">
								<div class="col-md-6">Time Range</div>
							  	<input id="cmn-toggle-2" class="cmn-toggle cmn-toggle-round-flat" type="checkbox" ng-model="trFilter" name="trFilter" value=true>
							  	<label for="cmn-toggle-2" class="col-md-6"></label>
							</div>
							<div class="col-md-4 slider-buttons">
								<div class="col-md-6">Day of Week</div>
								
							  	<input id="cmn-toggle-3" class="cmn-toggle cmn-toggle-round-flat" type="checkbox" ng-model="dowFilter" name="dowFilter" value=true>
							  	<label for="cmn-toggle-3" class="col-md-6"></label>
							  	
							</div>
						</div>

                        <!-- Fixed -->
                        <div class="col-md-6">
                            <!-- Date -->
                            <div ng-show="fixedFilter" class="form-group">
                                <label class="control-label text-center" for="name">Date</label>
                                <div class="controls">
                                        <p class="input-group">
                                          <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dateFromModal" is-open="opened" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                          <span class="input-group-btn">
                                            <button type="button" class="btn btn-teal" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                          </span>
                                        </p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6 timepicker">
                            <!-- Earliest Start Time -->
                            <div class="row">
	                            <div ng-show="fixedFilter || trFilter"  class="form-group">
	                                <label ng-show="trFilter" class="control-label text-center" for="name">Earliest Start Time</label>
	                                <label ng-show="fixedFilter && !(trFilter)" class="control-label text-center" for="name">Start Time</label>
	                                <div class="controls" ng-init="timepickerClear()">
	                                   <timepicker ng-model="timeFromModal" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
	                                </div>
	                            </div>
                            </div>
                            
                            <!-- Latest Start Time -->
                            <div class="row">
	                            <div ng-show="trFilter" class="form-group">
	                                <label class="control-label text-center" for="name">Latest Start Time</label>
	                                <div class="controls" ng-init="timepickerClear()">
	                                   <timepicker ng-model="latestTimeFromModal" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
	                                </div>
	                            </div>
                            </div>
                        </div>
                    
                    	<!-- Day of Week -->
                    	<div class="row">
                    		<div ng-show="dowFilter" class="form-group">
                                <span class="formTitles">Which day(s) of the week?</span>
                                <div class="controls col-md-12 button-labels">
                                   <input type="checkbox" id="sun" ng-model="sun" name="dayOfWeek" value=true>
                                   		<label class="btn btn-no-hover" for="sun">Sun</label>
                                   <input type="checkbox" id="mon" ng-model="mon" name="dayOfWeek" value=true>
                                   		<label class="btn btn-no-hover" for="mon">Mon</label>
                                   </input>
                                   <input type="checkbox" id="tue" ng-model="tue" name="dayOfWeek" value=true>
                                   		<label class="btn btn-no-hover" for="tue">Tue</label>
                                   </input>
                                   <input type="checkbox" id="wed" ng-model="wed" name="dayOfWeek" value=true>
                                   		<label class="btn btn-no-hover" for="wed">Wed</label>
                                   </input>
                                   <input type="checkbox" id="thu" ng-model="thu" name="dayOfWeek" value=true>
                                   		<label class="btn btn-no-hover" for="thu">Thu</label>
                                   </input>
                                   <input type="checkbox" id="fri" ng-model="fri" name="dayOfWeek" value=true>
                                   		<label class="btn btn-no-hover" for="fri">Fri</label>
                                   </input>
                                   <input type="checkbox" id="sat" ng-model="sat" name="dayOfWeek" value=true>
                                   		<label class="btn btn-no-hover" for="sat">Sat</label>
                                   </input>
                                </div>
                    		</div>
                    	</div>
                    
	                    <div class="col-md-12">
                    		<hr>
                    		<div class="text-center modal-heading"><u>Recurring</u></div>
                    	</div>
	                    	
                    	<span ng-init="recType = 'NONE'"></span>
                    	
                   		<div class="col-md-12 modal-col form-group">
                   			<div class="controls">
                   				<input type="radio" id="noRec" ng-model="recType" name="Rec" ng-value="'NONE'" />
                   					<label>None</label>
                   				<input type="radio" id="weekRec" ng-model="recType" name="Rec" ng-value="'WEEKLY'">
                   					<label>Weekly</label>
                   				<input type="radio" id="monthRec" ng-model="recType" name="Rec" ng-value="'MONTHLY'">
                   					<label>Month</label>
                   			</div>
                   		</div>
                    	
	                    	
                    	<!-- Day of Week -->
                    	<div class="row">
	                   		<div ng-show="recType == 'WEEKLY'" class="form-group">
	                        	<span class="formTitles modal-col">Which day(s) of the week?</span>
	                            <div class="controls col-md-12 button-labels">
	                            	<input type="checkbox" id="sun" ng-model="sun" name="dayOfWeek" value=true>
	                                	<label class="btn btn-no-hover" id="sunLab" for="sun">Sun</label>
	                                 <input type="checkbox" id="mon" ng-model="mon" name="dayOfWeek" value=true>
	                                 	<label class="btn btn-no-hover" id="monLab" for="mon">Mon</label>
	                                 </input>
	                                 <input type="checkbox" id="tue" ng-model="tue" name="dayOfWeek" value=true>
	                                 	<label class="btn btn-no-hover" id="tueLab" for="tue">Tue</label>
	                                 </input>
	                                 <input type="checkbox" id="wed" ng-model="wed" name="dayOfWeek" value=true>
	                                 	<label class="btn btn-no-hover" id="wedLab" for="wed">Wed</label>
	                                 </input>
	                                 <input type="checkbox" id="thu" ng-model="thu" name="dayOfWeek" value=true>
	                                 	<label class="btn btn-no-hover" id="thuLab" for="thu">Thu</label>
	                                 </input>
	                                 <input type="checkbox" id="fri" ng-model="fri" name="dayOfWeek" value=true>
	                                 	<label class="btn btn-no-hover" id="friLab" for="fri">Fri</label>
	                                 </input>
	                                 <input type="checkbox" id="sat" ng-model="sat" name="dayOfWeek" value=true>
	                                 	<label class="btn btn-no-hover" id="satLab" for="sat">Sat</label>
	                                 </input>
	                              </div>
	                   		</div>
                   		</div>
                   		
                   		<!-- Month -->
                   		<div ng-show="recType == 'MONTHLY'" class="col-md-12 modal-col form-group" ng-init="recMd = getRecMonthDay()">
                   			<span data-ng-bind="recMd"></span>
                   		</div>
                   
                   		<div class="row" ng-show="recType != 'NONE'">
                   			<div class="col-md-6 col-md-offset-3 modal-col">
	                   			<div class="form-group">
	                          		<label class="control-label text-center" for="endDate">End Date</label>
	                          		<div class="controls">
	                                	<p class="input-group">
	                                    	<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="recEndDate" is-open="opened1" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="false" close-text="Close" />
	                                    	<span class="input-group-btn">
	                                      		<button type="button" class="btn btn-teal" ng-click="open1($event)"><i class="glyphicon glyphicon-calendar"></i></button>
	                                    	</span>
	                                  	</p>
	                        		</div>
	                    		</div>
                   			</div>
                   		</div> 
                     </div>
                    
                    <!-- ------ -->
                    <!-- PAGE 3 -->
                    <!-- ------ -->
                    <div class="modal-col" ng-show="createPage == 3">
	                    <div class="col-md-6 modal-col" ng-init="findUsers()">
	                        <!-- Required Guests -->
	                         <div class="form-group">
	                            <label class="control-label" for="users">Required Guests</label>
	                            <select class="form-control js-example-basic-multiple" multiple="multiple" data-ng-model="guests" id="users">
	                                <option ng-repeat="user in users" data-ng-value="user._id">{{user.displayName}}</option>
	                            </select>
						    </div> 
	                    </div>
	                    
	                    <div class="col-md-6 modal-col">
	                        <!-- Additional Guests -->
	                        <div class="row">
	                            <div class="form-group">
	                                <div class="controls">
	                                    <label class="control-label">Optional Guests</label>
	                                    <select class="form-control js-example-basic-multiple" multiple="multiple" data-ng-model="optionalGuests" id="users">
	                                		<option ng-repeat="user in users" data-ng-value="user._id">{{user.displayName}}</option>
	                            		</select>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	            	
	            	    <div class="col-md-12 modal-col" ng-show="project">
	            	    	<div class="form-group">
			                <label class="control-label" for="team_assigned">Team</label>
			                <select class="form-control js-example-basic" data-ng-model="team" id="team">
			                    <option ng-repeat="team in teams | filter: projectFilter" data-ng-value="team._id">{{team.name}}</option>
			                </select>
					</div>
	            	    </div>
                	</div>
                <!-- PAGE 4 -->
                <div class="col-md-6 modal-col" ng-show="createPage == 4">
                    <div class="text-center modal-heading"><u>Basic Info</u></div>
                    <div>Name: {{name}}</div>
                    <div>Project: {{project}}</div>
                    <div>Type: {{type}}</div>
                    <div>Location: {{location}}</div>
                    <div>Description: {{description}}</div>
                    <div ng-show="fixedDate">
                        <div>Fixed Date</div>
                        <div>DateTime: {{dateFromModal}} </div>
                    </div>
                    <div ng-hide="fixedDate">
                        <div>Range Date</div>
                        <div>Earliest DateTime: {{earliestDateFromModal}} </div>
                        <div>Latest DateTime: {{latestDateFromModal}} </div>
                    </div>
                </div>
                    
                <div class="col-md-6 modal-col" ng-show="createPage == 4">
                    <div>Groups Needed:</div>
                    <div ng-repeat="groupNeeded in groupsNeeded" data-ng-init="thisGroup = findGroup(groupNeeded)">
                        {{groupValues['field_' + $index]}} {{thisGroup.name}}
                    </div>
                </div>
                    
                <div class="row">
                    <div class="col-md-12 modal-buttons-events">
                        
                        <!-- 1 to 2 -->
                        <div class="form-group pull-right" ng-show="createPage == 1">
                            <script type="javascript">
                            
                            </script>
                            <div ng-click="createPage = 2" class="btn btn-blue"> Time &nbsp; <i class="fa fa-arrow-right"></i> </div>
                        </div>
                        
                        <!-- 2 to 1 -->
                        <div class="form-group pull-left" ng-show="createPage == 2">
                            <div ng-click="createPage = 1" class="btn btn-blue"> <i class="fa fa-arrow-left"></i> &nbsp; Info </div>
                        </div>  
                        
                        <!-- 2 to 3 -->
                        <div class="form-group pull-right" ng-show="createPage == 2">
                            <div ng-click="createPage = 3;  combineDateTimes(dateFromModal, timeFromModal);" class="btn btn-blue"> Invites &nbsp; <i class="fa fa-arrow-right"></i> </div>
                        </div>
                        
                        <!-- 3 to 2 -->
                        <div class="form-group pull-left" ng-show="createPage == 3">
                            <div ng-click="createPage = 2" class="btn btn-blue"> <i class="fa fa-arrow-left"></i> &nbsp; Time </div>
                        </div> 
                            
                        <!-- 3 to 4 -->
                        <div class="form-group pull-right" ng-show="createPage == 3">
                            <div ng-click="createPage = 4" class="btn btn-blue"> Review &nbsp; <i class="fa fa-arrow-right"></i> </div>
                        </div>
                           
                        <!-- 4 to 3 -->
                        <div class="form-group pull-left" ng-show="createPage == 4">
                            <div ng-click="createPage = 3" class="btn btn-blue"> <i class="fa fa-arrow-left"></i> &nbsp; Invites </div>
                        </div>    
                        
                        <!-- Submit -->    
                        <div class="form-group pull-right" ng-show="createPage == 4">
                            <input ng-onclick="personal = false" type="submit" class="btn btn-yellow" value="Send Invitations">
                        </div> 
                        
                        <div class="row">
                            <div class="text-center">
                                <div data-ng-show="error" class="text-danger">
                                    <strong data-ng-bind="error"></strong>
                                </div>  
                            </div>

                        </div>
                    </div>
                </div>
                
            </fieldset>
        </form>
    </div>
</section>
