<section data-ng-controller="EventsController" data-ng-init="initModal()">
    <!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&library=places&key=AIzaSyAb8G8uuxD1Pqilz6CEUIRccSsmu78yaf0"></script>-->
    <div class="col-md-12 well">
        <h1 class="text-center">Create Event</h1>
        <form class="form-horizontal" data-ng-submit="create()" id="createEventForm" novalidate>
            <fieldset>
                <div class="row" ng-init="createPage=2; findProjects(); findEventTypes(); findEventLocs();">
                    <div class="modal-col" ng-show="createPage == 1">
                        <div class="text-center modal-heading"><u>Basic Info</u></div>
                        <!-- Name -->
                        <div class="form-group">
                            <label class="control-label" for="name">Name</label>
                            <div class="controls">
                                <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                            </div>
                            <div class="examples">
                                Examples: "Pizza Party", "Pizza Eating Contest"
                            </div>
                        </div>

                        <!-- Project -->
                        <div class="form-group">
                            <label class="control-label" for="project">Project</label>
                            <div class="fullWidth">
                                <select class="form-control fullWidth js-example-basic-single" data-tags="false" data-ng-model="project" id="project">
                                    <option ng-repeat="project in projects" data-ng-value="project._id">{{project.name}}</option>
                                </select>
                            </div>
					    </div> 
                        
                        <!-- Type -->                        
                        <div class="form-group">
                            <label class="control-label" for="type">Type</label> 
                            <select id="select2_type" type="hidden" data-tags="true" class="form-control" data-ng-model="type">
                                <option ng-repeat="type in eventTypes" data-ng-value="type.name">{{type.name}}</option>
                            </select>
					        <div class="examples">
                                Examples: "Eating", "Baking"
                            </div>
                        </div> 
                        
                        
                        <!-- Location -->
                        <div class="form-group">
                            <label class="control-label" for="location">Location</label>
                            <select id="select2_type" type="hidden" data-tags="true" class="form-control" data-ng-model="location">
                                <option ng-repeat="loc in eventLocs" data-ng-value="loc.name">{{loc.name}}</option>
                            </select>
                            <div class="examples">
                                Examples: "Domino's", "Papa John's"
                            </div>
                        </div>

                        <!-- Description -->
                        <div class="form-group">
                            <label class="control-label" for="description">Description</label>
                            <div class="controls">
                                <textarea data-ng-model="description" id="description" class="form-control" placeholder="We would like a large pie with pepperoni, pineapple and cheesy crust." rows="5" required></textarea>
                            </div>
                        </div>

                    </div>
                
                	<!-- PAGE 2 -->
                    <div class="modal-col" ng-show="createPage == 2" ng-init="fixedDate=true">
                        <div class="text-center modal-heading"><u>Date/Time</u></div>

                        <!-- Fixed -->
                        
                        <div class="col-md-6">
                            <!-- Date -->
                            <div class="form-group timepicker">
                            <i class="glyphicon glyphicon-calendar"></i>
                                <label class="control-label text-center" for="name">Date</label>
                                <div class="controls">
                                        <p class="input-group">
                                          <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dateFromModal" is-open="opened" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                          <span class="input-group-btn">
                                            <button type="button" class="btn btn-teal" ng-click="open($event)"></button>
                                          </span>
                                        </p>
                                </div>
                            </div>
                        </div>
                    

                        <div class="col-md-6">
                            <!-- Time -->
                            <div class="form-group timepicker">
                                <label class="control-label text-center" for="name">Time</label>
                                <div class="controls" ng-init="timepickerClear()">
                                   <timepicker ng-model="timeFromModal" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Range -->
                         <div class="row">
                             <div class="col-md-2 text-center vertical-align-center-icons">
                             <i class="fa fa-calendar fa-3x"></i>
                             </div>
                             <div class="col-md-10">
                                 <div class="row">
                                     <!-- Date -->
                                     <div class="form-group">
                                         <label class="control-label text-center" for="name">Earliest</label>
                                         <div class="controls">
                                                 <p class="input-group">
                                                   <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="earliestDateFromModal" is-open="datepickers.earliest" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                                   <span class="input-group-btn">
                                                     <button type="button" class="btn btn-teal" ng-click="openWhich($event,'earliest')"><i class="glyphicon glyphicon-calendar"></i></button>
                                                   </span>
                                                 </p>
                                         </div>
                                     </div>
                                 </div>

                                 <div class="row">
                                 <!-- Date -->
                                     <div class="form-group">
                                         <label class="control-label text-center" for="name">Latest</label>
                                         <div class="controls">
                                                 <p class="input-group">
                                                   <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="latestDateFromModal" is-open="datepickers.latest" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                                   <span class="input-group-btn">
                                                     <button type="button" class="btn btn-teal" ng-click="openWhich($event,'latest')"></button>
                                                   </span>
                                                 </p>
                                         </div>
                                     </div>
                             </div>
                         </div>    
                         
                         <div class="row">
                             <div class="col-md-2 text-center vertical-align-center-icons">
                                  <i class="fa fa-clock-o fa-3x"></i>
                             </div>
                             <div class="col-md-10">
                                 <div class="row">
                                 <!-- Time -->
                                 <div class="form-group timepicker">
                                     <label class="control-label text-center" for="name">Earliest</label>
                                     <div class="controls">
                                        <timepicker ng-model="earliestTimeFromModal" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                                     </div>
                                 </div>
                                 </div>

                                 <div class="row">
                                     <!-- Time -->
                                     <div class="form-group timepicker">
                                         <label class="control-label text-center" for="name">Latest</label>
                                         <div class="controls">
                                            <timepicker ng-model="latestTimeFromModal" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>                        
                     </div>
                    
                     </div>
                    
                    <!-- PAGE 3 -->
                    <div class="col-md-6 modal-col" ng-show="createPage == 3" ng-init="findUsers()">
                        <div class="text-center modal-heading"><u>Required Guests</u></div>
                        
                        <!-- Required Guests -->
                         <div class="form-group">
                            <label class="control-label" for="users">Required Guests</label>
                            <select class="form-control js-example-basic-multiple" multiple="multiple" data-ng-model="guests" id="users">
                                <option ng-repeat="user in users" data-ng-value="user._id">{{user.displayName}}</option>
                            </select>
					    </div> 
                    </div>
                    
                    <div class="col-md-6 modal-col" ng-show="createPage == 3">
                        <div class="text-center modal-heading"><u>Additional Guests</u></div>
                        
                        <!-- Additional Guests -->
                        <div class="row">
                            <div class="form-group" data-ng-init="findGroups()">
                                <div class="controls">
                                    <label class="control-label">I need:</label>
                                    <select class="form-control js-example-basic-single" multiple="multiple" data-ng-model="groupsNeeded" id="group">
                                        <option ng-repeat="group in groups" data-ng-value="group._id">{{group.name}}</option>
                                    </select>
                                    
                                    <!-- Number Selectors -->
                                    <div ng-repeat="groupNeeded in groupsNeeded">
                                        <div class="row" data-ng-init="thisGroup = findGroup(groupNeeded)">
                                            <div class="col-md-2">
                                                <input class="form-control" type="text" ng-model="groupValues['field_' + $index]" />
                                            </div>
                                            {{thisGroup.name}}
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                
                <!-- PAGE 4 -->
                <div class="col-md-6 modal-col" ng-show="createPage == 4">
                    <div class="text-center modal-heading"><u>Basic Info</u></div>
                    <div>Name: {{name}}</div>
                    <div>Project: {{project}}</div>
                    <div>Type: {{type}}</div>
                    <div>Location: {{location}}</div>
                    <div>Description: {{description}}</div>
                    <div ng-show="fixedDate">
                        <div>Fixed Date</div>
                        <div>DateTime: {{dateFromModal}} </div>
                    </div>
                    <div ng-hide="fixedDate">
                        <div>Range Date</div>
                        <div>Earliest DateTime: {{earliestDateFromModal}} </div>
                        <div>Latest DateTime: {{latestDateFromModal}} </div>
                    </div>
                </div>
                    
                <div class="col-md-6 modal-col" ng-show="createPage == 4">
                    <div>Groups Needed:</div>
                    <div ng-repeat="groupNeeded in groupsNeeded" data-ng-init="thisGroup = findGroup(groupNeeded)">
                        {{groupValues['field_' + $index]}} {{thisGroup.name}}
                    </div>
                </div>
                    
                <div class="row">
                    <div class="col-md-12 modal-buttons-events">
                        
                        <!-- 1 to 2 -->
                        <div class="form-group pull-right" ng-show="createPage == 1">
                            <script type="javascript">
                            
                            </script>
                            <div ng-click="createPage = 2" class="btn btn-blue"> Time &nbsp; <i class="fa fa-arrow-right"></i> </div>
                        </div>
                        
                        <!-- 2 to 1 -->
                        <div class="form-group pull-left" ng-show="createPage == 2">
                            <div ng-click="createPage = 1" class="btn btn-blue"> <i class="fa fa-arrow-left"></i> &nbsp; Info </div>
                        </div>  
                        
                        <!-- 2 to 3 -->
                        <div class="form-group pull-right" ng-show="createPage == 2">
                            <div ng-click="createPage = 3;  combineDateTimes(dateFromModal, timeFromModal);" class="btn btn-blue"> Invites &nbsp; <i class="fa fa-arrow-right"></i> </div>
                        </div>
                        
                        <!-- 3 to 2 -->
                        <div class="form-group pull-left" ng-show="createPage == 3">
                            <div ng-click="createPage = 2" class="btn btn-blue"> <i class="fa fa-arrow-left"></i> &nbsp; Time </div>
                        </div> 
                            
                        <!-- 3 to 4 -->
                        <div class="form-group pull-right" ng-show="createPage == 3">
                            <div ng-click="createPage = 4" class="btn btn-blue"> Review &nbsp; <i class="fa fa-arrow-right"></i> </div>
                        </div>
                           
                        <!-- 4 to 3 -->
                        <div class="form-group pull-left" ng-show="createPage == 4">
                            <div ng-click="createPage = 3" class="btn btn-blue"> <i class="fa fa-arrow-left"></i> &nbsp; Invites </div>
                        </div>    
                        
                        <!-- Submit -->    
                        <div class="form-group pull-right" ng-show="createPage == 4">
                            <input type="submit" class="btn btn-yellow" value="Send Invitations">
                        </div> 
                        
                        <div class="row">
                            <div class="text-center">
                                <div data-ng-show="error" class="text-danger">
                                    <strong data-ng-bind="error"></strong>
                                </div>  
                            </div>

                        </div>
                    </div>
                </div>
                
            </fieldset>
        </form>
    </div>
</section>
