<section data-ng-controller="EventsController">
	<div class="col-md-12 modal-col well">
        <h1><u>New Event Type</u></h1>
        <form class="form-horizontal" novalidate>
            <fieldset>
                <div class="form-group">
                    <div class="controls">
                        <input type="text" data-ng-model="type" id="type" class="form-control" placeholder="Type" required>
                    </div>
                    <div class="examples">
                        Examples: "Eating", "Baking"
                    </div>
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
               <div class="row modal-buttons">
                    <div class="col-md-6">
                        <div class="form-group pull-left">
                            <button ng-click="ok()" class="btn btn-teal"> Cancel</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group pull-right">
                            <input type="submit" ng-click="createEventType()" class="btn btn-yellow" value="Create Event Type">
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</section>