<section data-ng-controller="EventsController" data-ng-init="find(); setCurrDate();">
        <div class="top-well well">
            <h1>Events</h1>
            <span class="pull-right">
                <a class="btn btn-blue create-button" ng-click="createPersModal('md')" style="font-size: 15px;"><strong><i class="fa fa-plus"></i> &nbsp; New Personal Event</strong></a>
                <strong class="btn btn-yellow create-button" ng-click="createTypeModal('md')" style="font-size: 15px;"><i class="fa fa-plus"></i> &nbsp; New Event Type</strong>
                <strong class="btn btn-yellow create-button" ng-click="createModal('md')" style="font-size: 15px;"><i class="fa fa-plus"></i> &nbsp; New Event</strong>
            </span>
        </div>
    <div class="col-md-7">
        <div class="col-md-12 row well">
            <h2>
                <strong class="blue">Upcoming Events</strong>
            </h2>
            
			<div class="list-group" data-ng-init="findFutureEvents();">
				<a ng-repeat="event in futureEvents | orderBy : 'sched.start' " data-ng-href="#!/events/{{event._id}}" ng-class="{'list-group-item-personal': event.status == 'personal', 'list-group-item' : true}">
					
					<div class="event-rep-name">
                        <span data-ng-bind="event.name"></span>
                        <hr>
                    </div>
                    
                     <!-- Initializing date formatter -->
                    <span>{{readableDate(event.sched.start)}}</span>
                    <div class="event-rep-date" data-ng-bind="printDate"></div>
                    
	                <span ng-hide="event.status == 'personal'">  
	                   	<div data-ng-bind="event.location.name"></div>
	                   
	                   	<div class="row">
					    	<div class="pull-right event-rep-proj">
						    	<strong data-ng-bind="event.proj.name"> </strong>
						        
						        <i class="fa fa-ellipsis-v"></i>
					        	<span data-ng-bind="event.type.name"></span>
			        		</div>
		        		</div>
	        		</span>
				</a>   
			</div>
            
        </div>
        <div class="col-md-12 row">
        </div>
    </div>
    <div class="col-md-5">
        <div class="row well">
            <h2>
                <strong class="blue">Past Events</strong>
            </h2>
             <div class="list-group" data-ng-init="findPastEvents();">
                <a ng-repeat="event in pastEvents | orderBy : 'sched.start' : true" data-ng-href="#!/events/{{event._id}}" class="list-group-item">
					<div class="event-rep-name">
                        <span data-ng-bind="event.name"></span>
                        <hr>
                    </div>
                    
                     <!-- Initializing date formatter -->
                    <span>{{readableDate(event.sched.start)}}</span>
                    <div class="event-rep-date" data-ng-bind="printDate"></div>
                    
                    <div data-ng-bind="event.location.name"></div>
                    
                   	<div class="row">
			    	<div class="pull-right event-rep-proj">
				    	<strong data-ng-bind="event.proj.name"> </strong>
				        
				        <i class="fa fa-ellipsis-v"></i>
			        	<span data-ng-bind="event.type.name"></span>
	        		</div>
	        		</div>
				</a>   
            </div>
        </div>
    </div>
    
    <!--
    <div class="list-group">
        <a data-ng-repeat="event in events" data-ng-href="#!/events/{{event._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="event.created | date:'medium'"></span>
				by
				<span data-ng-bind="event.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="event.name"></h4>
        </a>
    </div> -->
   
</section>
