<section data-ng-controller="EventsController" data-ng-init="find(); setCurrDate();">
        <div class="top-well well">
            <h1>Events</h1>
            <span class="pull-right">
                <a class="btn btn-blue create-button" id="createPersEvent" ng-click="createPersModal('md')" style="font-size: 15px;"><strong><i class="fa fa-plus"></i> &nbsp; New Personal Event</strong></a>
                <strong class="btn btn-yellow create-button" ng-click="createTypeModal('md')" style="font-size: 15px;"><i class="fa fa-plus"></i> &nbsp; New Event Type</strong>
                <strong class="btn btn-yellow create-button" ng-click="createModal('md')" style="font-size: 15px;"><i class="fa fa-plus"></i> &nbsp; New Event</strong>
            </span>
        </div>
    
    <div class="col-md-12" data-ng-init="findEvents();">
    	 <label for="togPers" data-ng-init="showPers = true">Show Personal</label>
                <input type="checkbox" id="togPers" ng-model="showPers" name="togPers" value=true>
    	<div class="col-md-4" >
    		<div class="btn btn-teal" ng-click="offset = offset - 1; findEventsCustom(selDateMain);">
    			<i class="fa fa-arrow-up"></i>
    		</div>
    		<div class="btn btn-teal" ng-click="offset = offset + 1; findEventsCustom(selDateMain);">
    			<i class="fa fa-arrow-down"></i>
    		</div>
    		<div class="list-group" data-ng-init="offset = 0; daySelected = 6;  getNumber(7)">
    			<div ng-repeat="i in selDayArr track by $index"  ng-click="selIndex = $index; updateSelected(selIndex);" ng-class="{'list-group-item' : true, 'list-group-item-selected': isSelected($index)}">
    				
					<strong data-ng-bind="getDateReadable(offset + $index);"></strong>
    				<span data-ng-bind="setSidebarDayIndex($index);"></span>
    				<div ng-repeat="event in events | orderBy : 'sched.start' | filter: justThisDay | filter: checkPersonalEvents">
    					<strong data-ng-bind="getShortTime(event.sched.start)"></strong>
    					<span data-ng-bind="getShortName(event.name)"></span>
    					<i ng-show="event.status == 'personal'" class="fa fa-user"></i>
                        <i ng-show="event.status != 'personal'" class="fa fa-users"></i>
    				</div>
    			</div>
    		</div>
    	</div>
    	
    	<div class="col-md-8 well">
    		<strong data-ng-bind="getDateReadable(selectedIndex + offset);"></strong>
    		<span data-ng-bind="setSelDateMain(offset);"></span>
    		<a ng-repeat="event in events | orderBy : 'sched.start' | filter: justThisDayFull | filter: checkPersonalEvents" data-ng-href="#!/events/{{event._id}}" ng-class="{'list-group-item-personal': event.status == 'personal', 'list-group-item' : true}">
					<div class="event-rep-name">
                        <span data-ng-bind="event.name"></span>
                        <span class="pull-right">
                       		<i ng-show="event.status == 'personal'" class="fa fa-user"></i>
                        	<i ng-show="event.status != 'personal'" class="fa fa-users"></i>
                        </span>
                        <hr>
                    </div>
                    
                     <!-- Initializing date formatter -->
                    <span>{{readableDate(event.sched.start)}}</span>
                    <div class="event-rep-date" data-ng-bind="printDate"></div>
                                  
                   	<div  ng-hide="event.status == 'personal'" data-ng-bind="event.location"></div>
                   
                   	<div class="row">
				    	<div class="pull-right event-rep-proj">
					    	
					    	<span ng-show="event.status == 'personal'">
					    		<span data-ng-bind="event.owner.displayName"></span>
					    	</span>
					    	
					    	<span ng-hide="event.status == 'personal'">
						    	<strong data-ng-bind="event.proj.name"> </strong>
						        
						        <i ng-hide="event.proj.name == null || event.type == null" class="fa fa-ellipsis-v"></i>
					        	<span data-ng-bind="event.type"></span>
				        	</span>
		        		</div>
	        		</div>
			</a>
    	</div>
    </div>
   
</section>
