<section data-ng-controller="ScheduleInputController">
	<div class="top-well well">
		<h1>Schedule Input</h1>
	</div>
	<div class="well col-md-12">
		<form class="form-horizontal col-md-4" novalidate>
            <fieldset>
                <!-- Name -->
                <div class="form-group">
                    <label class="control-label" for="su12_1a">Sunday, 12 AM - 1 AM</label>
                    <div class="controls">
                        <input type="checkbox" data-ng-model="su12_1a" id="su12_1a" class="form-control">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label" for="su1_2a">Sunday, 1 AM - 2 AM</label>
                    <div class="controls">
                        <input type="checkbox" data-ng-model="su1_2a" id="su1_2a" class="form-control">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label" for="su2_3a">Sunday, 2 AM - 3 AM</label>
                    <div class="controls">
                        <input type="checkbox" data-ng-model="su2_3a" id="su2_3a" class="form-control">
                    </div>
                </div>
				
			 	<div class="form-group">
                    <label class="control-label" for="su3_4a">Sunday, 3 AM - 4 AM</label>
                    <div class="controls">
                        <input type="checkbox" data-ng-model="su3_4a" id="su3_4a" class="form-control">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label" for="su4_5a">Sunday, 4 AM - 5 AM</label>
                    <div class="controls">
                        <input type="checkbox" data-ng-model="su4_5a" id="su4_5a" class="form-control">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label" for="su5_6a">Sunday, 5 AM - 6 AM</label>
                    <div class="controls">
                        <input type="checkbox" data-ng-model="su5_6a" id="su5_6a" class="form-control">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label" for="su6_7a">Sunday, 6 AM - 7 AM</label>
                    <div class="controls">
                        <input type="checkbox" data-ng-model="su6_7a" id="su6_7a" class="form-control">
                    </div>
                </div>
                                
                <div class="form-group">
                    <label class="control-label" for="su7_8a">Sunday, 7 AM - 8 AM</label>
                    <div class="controls">
                        <input type="checkbox" data-ng-model="su7_8a" id="su7_8a" class="form-control">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label" for="su8_9a">Sunday, 8 AM - 9 AM</label>
                    <div class="controls">
                        <input type="checkbox" data-ng-model="su8_9a" id="su8_9a" class="form-control">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label" for="su9_10a">Sunday, 9 AM - 10 AM</label>
                    <div class="controls">
                        <input type="checkbox" data-ng-model="su9_10a" id="su9_10a" class="form-control">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label" for="su10_11a">Sunday, 10 AM - 11 AM</label>
                    <div class="controls">
                        <input type="checkbox" data-ng-model="su10_11a" id="su10_11a" class="form-control">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label" for="su11_12p">Sunday, 11 AM - 12 PM</label>
                    <div class="controls">
                        <input type="checkbox" data-ng-model="su11_12p" id="su11_12p" class="form-control">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label" for="su12_1p">Sunday, 12 PM - 1 PM</label>
                    <div class="controls">
                        <input type="checkbox" data-ng-model="su12_1p" id="su12_1p" class="form-control">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label" for="su1_2p">Sunday, 1 PM - 2 PM</label>
                    <div class="controls">
                        <input type="checkbox" data-ng-model="su1_2p" id="su1_2p" class="form-control">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label" for="su2_3p">Sunday, 2 PM - 3 PM</label>
                    <div class="controls">
                        <input type="checkbox" data-ng-model="su2_3p" id="su2_3p" class="form-control">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label" for="su3_4p">Sunday, 3 PM - 4 PM</label>
                    <div class="controls">
                        <input type="checkbox" data-ng-model="su3_4p" id="su3_4p" class="form-control">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label" for="su4_5p">Sunday, 4 PM - 5 PM</label>
                    <div class="controls">
                        <input type="checkbox" data-ng-model="su4_5p" id="su4_5p" class="form-control">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label" for="su5_6p">Sunday, 5 PM - 6 PM</label>
                    <div class="controls">
                        <input type="checkbox" data-ng-model="su5_6p" id="su5_6p" class="form-control">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label" for="su6_7p">Sunday, 6 PM - 7 PM</label>
                    <div class="controls">
                        <input type="checkbox" data-ng-model="su6_7p" id="su6_7p" class="form-control">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label" for="su7_8p">Sunday, 7 PM - 8 PM</label>
                    <div class="controls">
                        <input type="checkbox" data-ng-model="su7_8p" id="su7_8p" class="form-control">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label" for="su8_9p">Sunday, 8 PM - 9 PM</label>
                    <div class="controls">
                        <input type="checkbox" data-ng-model="su8_9p" id="su8_9p" class="form-control">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label" for="su9_10p">Sunday, 9 PM - 10 PM</label>
                    <div class="controls">
                        <input type="checkbox" data-ng-model="su9_10p" id="su9_10p" class="form-control">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label" for="su10_11p">Sunday, 10 PM - 11 PM</label>
                    <div class="controls">
                        <input type="checkbox" data-ng-model="su10_11p" id="su10_11p" class="form-control">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label" for="su11_12a">Sunday, 11 PM - 12 AM</label>
                    <div class="controls">
                        <input type="checkbox" data-ng-model="su11_12a" id="su11_12a" class="form-control">
                    </div>
                </div>
                
                <div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
                <div class="row modal-buttons">
                    <div class="col-md-6">
                        <div class="form-group pull-left">
                            <button type="button" ng-click="ok()" class="btn btn-teal" value="">Cancel</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group pull-right">
                            <input type="submit" ng-click="create()" class="btn btn-yellow" value="Input Schedule">
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
	</div>
</section>