<section data-ng-controller="EventsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="event.name"></h1>
	</div>
    Description: <span data-ng-bind="event.description"></span>
    <br>
    Project: <span data-ng-bind="event.project"></span>
    <br>
    Type: <span data-ng-bind="event.type"></span>
    <br>
    Location: <span data-ng-bind="event.location"></span>
    <br>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == event.user._id))">
		<a class="btn btn-primary" href="/#!/events/{{event._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="event.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="event.user.displayName"></span>
		</em>
	</small>
</section>
