<section data-ng-controller="EventsController" data-ng-init="findOne()">   
    <div class="row top-well">
        <div class="col-md-8 event-back">
            <a ng-href="/#!/events" class="btn btn-blue" style="margin-bottom: -20px;">
                <i class="fa fa-arrow-left"></i> &nbsp; All Events
            </a>
        </div>
        <div class="pull-right">
        	<strong ng-show="event.status != 'personal'" class="btn btn-yellow" ng-click="createModal('md')" style="font-size: 15px;"><i class="fa fa-plus"></i> &nbsp; New Event</strong>
        	<strong ng-show="event.status == 'personal'" class="btn btn-blue" ng-click="createPersModal('md')" style="font-size: 15px;"><i class="fa fa-plus"></i> &nbsp; New Personal Event</strong>
        </div>
        
    </div>
    
    <!-- Top well (event name/RSVP) -->
    <div class="row well">
        <div class="col-md-8 event-name">
            <span class="" data-ng-bind="event.name"></span>
        </div>
        
        <div ng-hide="event.status == 'personal'" class="col-md-4">
	    	<div class="pull-right">
	    		<div class="row">
	    			<div class="pull-right">
					    <button class="btn btn-teal"><i class="fa fa-check fa-2x"></i></button>
					    <button class="btn btn-teal"><i class="fa fa-times fa-2x"></i></button>
				    </div>
			    </div>
			    <div class="row">
				    <div class="event-rsvp">
				    <p> You haven't responded yet. </p>
				    <!-- <p> You're going! </p> 
				    <p> You can't make it. </p> -->
			</div>
			    </div>
			</div>    
	    </div>        
    </div>
    
    <!-- 2nd well (Host/Info) -->
    <div ng-hide="event.status == 'personal'" class="row well event-proj-type">
	    <div class="row">
		    <div class="col-md-8">
		    	<i class="fa fa-users"></i>
		    	Hosted by  
		    	<a ng-href="/#!/users/{{event.owner._id}}">
		    		<strong data-ng-bind="event.owner.displayName"></strong>
		    	</a>
		    </div>
		    <div class="col-md-4">
		    	<div class="pull-right">
			    	<a ng-href="/#!/projects/{{event.proj._id}}">
			        	<strong data-ng-bind="event.proj.name"> </strong>
			        </a>
		        	<i class="fa fa-ellipsis-v"></i>
		        	<span data-ng-bind="event.type.name"></span>
	        	</div>
	        </div>  
        </div>  
	</div>
    
    <div class="row">
    	<!-- Basic info (personal) -->
        <div ng-show="event.status == 'personal'" class="col-md-12">
        	<div class="row well">
	            <div class="top-bottom-padding">
	                
	                <!-- Initializing date formatter -->
	                <span>{{readableDateFull(event.sched.start)}}</span>
	                <span>{{readableEndDate(event.sched.start, event.length)}}</span>
	                
	                <i class="fa fa-calendar fa-2x yellow"></i> 
	                <span class="left-right-padding event-info" data-ng-bind="printFullDate"></span>
	            </div>
	            
	            <hr> 
	                
                <div class="top-bottom-padding event-info">
		    		<i class="fa fa-user"></i>
		    		This is a personal event. Only you can see it, and no one else can be invited.
	    		</div>
            </div>
        </div>
    
        <!-- Basic info (non-personal) -->
        <div ng-hide="event.status == 'personal'" class="col-md-8">
        	<div class="row well">
	            <div class="top-bottom-padding">
	                
	                <!-- Initializing date formatter -->
	                <span>{{readableDateFull(event.sched.start)}}</span>
	                <span>{{readableEndDate(event.sched.start, event.length)}}</span>
	                
	                <i class="fa fa-calendar fa-2x yellow"></i> 
	                <span class="left-right-padding event-info" data-ng-bind="printFullDate"></span>
	            </div>

	            <hr>
	            
	            <div class="top-bottom-padding">
	                <i class="fa fa-map-marker fa-2x blue"></i> <span class="left-right-padding event-info" data-ng-bind="event.location.name"></span>
	            </div>
	            
	            <hr>
	            
	            <div class="top-bottom-padding">
	                <span data-ng-bind="event.desc"></span>
	            </div>
            </div>
        </div>
        
        <!-- Guest list info -->
        <div ng-hide="event.status == 'personal'" class="col-md-4" class="text-center">
        	<div class="row well guest-well" ng-controller="RostersController" ng-init="findUsers()">
		        <div class="guest-list-header">Guest List</div>
		        
		        <div class="top-bottom-padding">
		        	<hr>
		        </div>
		        
		        <a data-ng-repeat="user in users | orderBy:'lastName'" data-ng-href="#!/users/{{user._id}}" class="list-group-item">
					<!-- Last, First -->
		            <div class="h4">
		                <span data-ng-bind="user.firstName"></span> <span data-ng-bind="user.lastName"></span>
		            </div>
		        </a>		        
		    </div>		    
        </div>
    </div>
    
    
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == event.user._id))">
		<a class="btn btn-orange" href="/#!/events/{{event._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-orange" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="event.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="event.user.displayName"></span>
		</em>
	</small>
</section>
