<section data-ng-controller="ProjectsController" data-ng-init="find()">
    <div class="top-well well">
            <h1>Projects</h1>
            <span class="pull-right">
                <a id="newProjButton" class="btn btn-yellow create-button" ng-click="createModal('md')" style="font-size: 15px;"><i class="fa fa-plus"></i> &nbsp; New Project</a>
            </span>
    </div>
    <div class="col-md-12 well">
	    
	    <!-- Search Bar -->
	    <div class="row searchBar">
	    	<!-- Name of project -->
	    	<div class="col-md-3">
		    	<form>
			    	<label for="searchText">Project Name</label>
                   	<input class="form-control" id="nameSearchText" type="text" data-ng-model="nameSearchText">
		    	</form>
	    	</div>
	    	
	    	<!-- Users attached to project -->
	    	<div class="col-md-3">
		    	<form>
			    	<label for="searchText">User(s)</label>
                   	<select id="userSearchBox" class="form-control js-example-basic-multiple"  multiple="multiple" data-ng-model="usersForSearch" id="members" data-ng-init="findUsers()">
                       <option ng-repeat="user in users" data-ng-value="user._id">{{user.displayName}}</option>
                    </select>
		    	</form>
	    	</div>
	    	
    	</div>
	    
	    <!-- Projects -->
	    <div class="list-group">
	        <a data-ng-repeat="project in projects | orderBy: 'name' | filter: userSearch | filter: searchNameText" data-ng-href="#!/projects/{{project._id}}" class="list-group-item">
				<div class="row">
					<div class="col-md-6">
						<div class="project-rep-name list-group-item-heading" data-ng-bind="project.name"></div>
						<span data-ng-bind="project.teams.length"></span> team<span ng-if="project.teams.length != 1">s</span>, <span data-ng-bind="project.users.length"></span> member<span ng-if="project.users.length != 1">s</span>
					</div>
					<div class="col-md-6 project-rep-type">
						<div class="pull-right" data-ng-bind="project.type"></div>
					</div>
				</div>
	        </a>
	    </div>
	    
	    <div class="pull-right">
	    	<p>Displaying {{(projects | filter: userSearch | filter: searchNameText).length}} of {{ projects.length }} projects.</p>
	   	</div>
	    
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!projects.$resolved || projects.length">
    	No Projects yet, why don't you <a href="" ng-click="createModal('lg')">create one</a>?
    </div>
</section>