<section data-ng-controller="ProjectsController" data-ng-init="findOne()">
	<div class="col-md-12 top-well">
        <div class="col-md-8 event-back">
            <a ng-href="/#!/projects" class="btn btn-blue" style="margin-bottom: -20px;">
                <i class="fa fa-paperclip"></i> &nbsp; All Projects
            </a>
        </div>
        <div class="pull-right">
        	<strong class="btn btn-yellow" ng-click="createModal('md')" style="font-size: 15px;"><i class="fa fa-plus"></i> &nbsp; New Project</strong>
        </div>
        
    </div>
    
    <!-- Top well (project name) -->
    <div class="col-md-12">
	    <div class="col-md-12 well">
	        <div class="col-md-8 project-name">
	            <i class="fa fa-paperclip"></i>
	            <span data-ng-bind="project.name"></span>
	        </div> 
	        <div class="col-md-4">
	        	<div class="pull-right project-type">
	        		<span data-ng-bind="project.type"></span>
	        	</div>
	        </div>  
	    </div>
    </div>
        
    <div class="col-md-5 project-col-left">
		
		<div class="col-md-12 well">
	    	<span data-ng-bind="project.description"></span>
    	</div>    	

    	<div class="col-md-12 well">
    		Owners:
	    	<span ng-repeat="owner in project.owners" ng-controller="UsersController">
	    		<strong><a ng-href="/#!/users/{{owner._id}}" data-ng-bind="owner.displayName"></a></strong>
	    	</span>
    	</div>
    	
    	<div class="col-md-12 well">
	    	<h1>Teams</h1>
	    	<a ng-repeat="team in project.teams" ng-href="/#!/teams/{{team._id}}" class="list-group-item">
	    		<div class="team-name" data-ng-bind="team.name"></div>
	    		<span data-ng-bind="team.users.length"></span> members
	    	</a>
    	</div>
    </div>
    
    
    <div class="col-md-7 project-col-right">
    	<div class="col-md-12 well" data-ng-controller="TasksController">
    		<h1>Tasks</h1>
    		<div data-ng-repeat="task in project.tasks">
			<small class="list-group-item-text">
			<div class="row">
				<div class="col-md-12" data-ng-init="getType(task.status)">
					<accordion close-others="false">
						<accordion-group is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
      						<accordion-heading>
      							<span class="project-rep-name list-group-item-heading" data-ng-bind="task.name"></span>
      							<progressbar class="progress-detail active pull-right" value="getValue(task.status)" type="listType"></progressbar>
      						</accordion-heading>
      						<a data-ng-href="#!/tasks/{{task._id}}">Link</a>
      						<p>Subtasks here!</p>
    					</accordion-group>
					</accordion>
				</div>
			</div>
       		</div>
    	</div>
    	
    	<div class="col-md-12 well" data-ng-controller="ThreadsController">
			<h4>Threads</h4>
			<form class="form-horizontal" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="text">New Thread</label>
                    <div class="controls">
                        <textarea data-ng-model="text" id="text" class="form-control" placeholder="We would like a large pie with pepperoni, pineapple and cheesy crust." rows="3" required></textarea>
                    </div>
                </div>
            </fieldset>
            </form>
            <div class="form-group pull-right">
				<input id="create-group-button" type="submit" ng-click="create()" class="btn btn-yellow" value="Create Thread">
            </div>
			
		</div>
    	
    </div>
   		
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == project.user._id))">
		<a class="btn btn-primary" href="/#!/projects/{{project._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
</section>
