<section data-ng-controller="ProjectsController" data-ng-init="findOne()">
	<script type="text/ng-template" id="taskTree">
		<div class="col-md-12" data-ng-init="getType(task.status)" data-ng-controller="TasksController">
			<accordion close-others="false">
				<accordion-group is-disabled="status.isFirstDisabled">
      				<accordion-heading>
      					<span class="project-rep-name list-group-item-heading">
							<span data-ng-bind="task.name"></span>
							<span style="font-size: 12px" ng-if="task.subTasks.length > 0"> + <span data-ng-bind="task.subTasks.length"></span> more </span>
						</span>
      					<progressbar class="progress-detail active pull-right" value="getValue(task.status)" type="{{getType(task.status)}}"></progressbar>
      				</accordion-heading>
					
					<div>
						<i><small data-ng-bind="task.description"></small></i>
					</div>

					<!-- Deadline -->
					<div> Deadline: <span data-ng-bind="task.deadline"></span> </div>
					
					<!-- Owner(s) -->
					<div ng-if="task.owners.team || task.owners.users">
						Owner(s): 
						<!-- User(s) -->
						<span ng-repeat="userOwner in task.owners.users">
							<strong><a data-ng-bind="userOwner.user.displayName" data-ng-href="#!/users/{{userOwner.user._id}}"></a></strong> <span ng-if="$index < task.owners.users.length - 1 || task.owners.team">, </span>
						</span>
						
						<!-- Team -->
						<strong><a data-ng-bind="task.owners.team.name" data-ng-href="#!/teams/{{task.owners.team._id}}"></a></strong>
					</div>     				

					
					<!-- Worker(s) -->
					<div ng-if="task.workers.team || task.workers.users">
						Worker(s): 
						<!-- User(s) -->
						<span ng-repeat="userWorker in task.workers.users">
							<strong><a data-ng-bind="userWorker.user.displayName" data-ng-href="#!/users/{{userWorker.user._id}}"></a></strong> <span ng-if="$index < task.workers.users.length - 1 || task.workers.team">, </span>
						</span>
						
						<!-- Team -->
						<strong><a data-ng-bind="task.workers.team.name" data-ng-href="#!/teams/{{task.workers.team._id}}"></a></strong>
					</div>     		

					<a data-ng-href="#!/tasks/{{task._id}}">See more...</a>
      				
					<span ng-repeat="task in task.subTasks" ng-include="'taskTree'" data-ng-href="#!/tasks/{{task._id}}">           
					</span>

    			</accordion-group>
			</accordion>
		</div>
        <ul ng-if="task.subTasks">
        </ul>
    </script>
	
	<div class="col-md-12 top-well">
        <div class="col-md-8 event-back">
            <a ng-href="/#!/projects" class="btn btn-blue" style="margin-bottom: -20px;">
                <i class="fa fa-paperclip"></i> &nbsp; All Projects
            </a>
        </div>
        <div class="pull-right">
			<strong data-ng-controller="TeamsController" class="btn btn-yellow" ng-click="createForProjectModal('md')" style="font-size: 15px;"><i class="fa fa-plus"></i> &nbsp; New Team</strong>
        	<strong data-ng-controller="TasksController" class="btn btn-yellow" ng-click="taskForProjectModal('md')" style="font-size: 15px;"><i class="fa fa-plus"></i> &nbsp; New Task</strong>
        </div>
        
    </div>
    
    <!-- Top well (project name) -->
    <div class="col-md-12">
	    <div class="col-md-12 well">
	        <div class="col-md-8 project-name">
	            <i class="fa fa-paperclip"></i>
	            <span data-ng-bind="project.name"></span>
	        </div> 
	        <div class="col-md-4">
	        	<div class="pull-right project-type">
	        		<span data-ng-bind="project.type"></span>
	        	</div>
	        </div>  
	    </div>
    </div>
        
    <div class="col-md-5 project-col-left">
		
		<div class="col-md-12 well">
	    	<span data-ng-bind="project.description"></span>
    	</div>    	

    	<div class="col-md-12 well">
    		Owners:
	    	<span ng-repeat="owner in project.owners" ng-controller="UsersController">
	    		<strong><a ng-href="/#!/users/{{owner._id}}" data-ng-bind="owner.displayName"></a></strong>
	    	</span>
    	</div>
    	
    	<div class="col-md-12 well" ng-if="project.teams.length > 0">
	    	<h4><strong>Teams</strong></h4>
	    	<a ng-repeat="team in project.teams" ng-href="/#!/teams/{{team._id}}" class="list-group-item">
	    		<div class="team-name" data-ng-bind="team.name"></div>
	    		<span data-ng-bind="team.users.length"></span> members
	    	</a>
    	</div>
    </div>
    
    
    <div class="col-md-7 project-col-right">
    	<div class="col-md-12 well" data-ng-controller="TasksController">
    		<h4><strong>Tasks</strong></h4>
    		
    		<div class="alert alert-warning text-center" ng-if="!(project.tasks.length > 0)" data-ng-controller="ProjectsController">
    			No Tasks for this project yet, why don't you <a href="" ng-click="taskForProjectModal('md')">create one</a>?
   			</div>
    		
    		<span ng-if="project.tasks.length > 0">
	    		<div data-ng-repeat="task in project.tasks | orderBy: 'deadline'">
					<div class="col-md-12" data-ng-init="getType(task.status)">
						<span ng-include="'taskTree'"></span>
					</div>	
				</div>
			</span>
   		</div>
    	
    	<div class="col-md-12 well" data-ng-controller="ThreadsController">
			<h4><strong>Threads</strong></h4>
			
			<div class="alert alert-warning text-center" ng-if="!(project.threads.length > 0)">
    			No Threads for this project yet, why don't you <a href="" ng-click="createModal('lg')">create one</a>?
   			</div>
			
			<span ng-if="project.threads.length > 0">
				<form class="form-horizontal" novalidate>
	            <fieldset>
	                <div class="form-group">
	                    <label class="control-label" for="text">New Thread</label>
	                    <div class="controls">
	                        <textarea data-ng-model="text" id="text" class="form-control" placeholder="We would like a large pie with pepperoni, pineapple and cheesy crust." rows="3" required></textarea>
	                    </div>
	                </div>
	            </fieldset>
	            </form>
	            <div class="form-group pull-right">
					<input id="create-group-button" type="submit" ng-click="create()" class="btn btn-yellow" value="Create Thread">
	            </div>
			</span>
		</div>
    	
    </div>
   		
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == project.user._id))">
		<a class="btn btn-primary" href="/#!/projects/{{project._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
</section>
