.project-name {
  margin-top: 10px;
  font-size: 45px;
}

.project-type {
  margin-top: 15px;
  font-size: 30px;
}

.project-rep-name {
  font-size: 26px;
}

.project-rep-type {
  font-size: 18px;
  margin-top: 4px;
}

.project-col-left {
  margin-left: 0px;
  margin-right: 10px;
  padding-right: -15px;
}

.project-col-right {
  margin-left: -10px;
  margin-right: 0px;
}