<section data-ng-controller="RostersController">
    <div class="top-well well" data-ng-init="findUsers()">
            <h1>Roster</h1>
            <span class="pull-right">
                <a id="new-user-button" class="btn btn-yellow create-button" ng-href="/#!/create-user" style="font-size: 15px;"><i class="fa fa-plus"></i> &nbsp; New User</a>
            </span>
    </div>
    
    List of users:
    <div class="list-group well">
        <a data-ng-repeat="user in users | orderBy:'lastName'" data-ng-href="#!/users/{{user._id}}" class="list-group-item">
			<!-- Last, First -->
            <div class="row">
           		<div class="col-md-1">
           			<img class="prof-pic" ng-show="user.profpic!=''" ng-src="data:image/jpeg;base64,{{user.profpic}}" alt="Profile Picture">
           			<img class="prof-pic" ng-show="user.profpic==''" src="lib/pictures/pizza.jpg" alt="Profile Picture">
           		</div>
           		<div class="col-md-11">
                	<span class="display-name" data-ng-bind="user.displayName"></span>
                 	<!-- Email -->
            		<div data-ng-bind="user.email"></div>
                </div>
            </div>
            
           
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!users.$resolved || users.length">
    	No Users yet, why don't you <a href="/#!/roster/create">create one</a>?
    </div>
</section>