<section data-ng-controller="RostersController">
    <div class="top-well well" data-ng-init="findUsers()">
        <h1>Roster</h1>
    </div>
    <div>
        <a class="btn btn-blue" ng-href="/#!/create-user" style="font-size: 30px;">Create User</a>
    </div>
    List of users:
    <div class="list-group well">
        <a data-ng-repeat="user in users" data-ng-href="#!/users/{{user._id}}" class="list-group-item">
			<!-- Last, First -->
            <div class="h4">
                <span data-ng-bind="user.lastName"></span>, <span data-ng-bind="user.firstName"></span>
            </div>
            
            <!-- Email -->
            <div data-ng-bind="user.email"></div>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!users.$resolved || users.length">
    	No Users yet, why don't you <a href="/#!/roster/create">create one</a>?
    </div>
</section>