<section data-ng-controller="RostersController">
    <div class="top-well well" data-ng-init="findUsers()">
            <h1>Roster</h1>
            <span class="pull-right">
                <a id="new-user-button" class="btn btn-yellow create-button" ng-href="/#!/create-user" style="font-size: 15px;"><i class="fa fa-plus"></i> &nbsp; New User</a>
            </span>
    </div>
    
    <div class="well">
		<div class="row searchBar">
			<div class="col-md-4">
		    	<form>
			    	<label for="searchText">Search by name</label>
			    	<input class="form-control" id="searchText" type="text" data-ng-model="searchText">
		    	</form>
	    	</div>
	    	<div class="pull-right searchResults">
		    	<p>Displaying {{(users | filter:search).length}} of {{ users.length }} users.</p>
	    	</div>
    	</div>
        <a data-ng-repeat="user in users | orderBy:'lastName' | filter:search" data-ng-href="#!/users/{{user._id}}" class="list-group-item">
			<!-- Last, First -->
            <div class="row">
           		<div class="col-md-1">
           			<img class="prof-pic" ng-show="user.profpic!=''" ng-src="data:image/jpeg;base64,{{user.profpic}}" alt="Profile Picture">
           			<img class="prof-pic" ng-show="user.profpic==''" src="lib/pictures/pizza.jpg" alt="Profile Picture">
           		</div>
           		<div class="roster-stats">
	           		<div class="col-md-2">
	                	<span class="display-name-roster" data-ng-bind="user.displayName"></span>
	                 	<!-- Email -->
	            		<div data-ng-bind="user.email"></div>
	                </div>
					
					<!-- Projects -->
	                <div class="col-md-1" style="text-align:center">
	                	<span class="display-name-roster" data-ng-bind="user.ownerProjects.length + user.memberProjects.length"></span>
	            		<div>project<span ng-if="(user.ownerProjects.length + user.memberProjects.length) != 1">s</span></div>
	                </div>
	                
	                <!-- Teams -->
	                <div class="col-md-1" style="text-align:center">
	                	<span class="display-name-roster" data-ng-bind="user.memberTeams.length + user.ownerTeams.length"></span>
	            		<div>team<span ng-if="(user.memberTeams.length + user.ownerTeams.length) != 1">s</span></div>
	                </div>
	                
	                <!-- Tasks -->
	                <div class="col-md-1" style="text-align:center">
	                	<span class="display-name-roster" data-ng-bind="user.workerTasks.length + user.ownerTasks.length"></span>
	            		<div>task<span ng-if="(user.workerTasks.length + user.ownerTasks.length) != 1">s</span></div>
	                </div>
	            </div>
            </div>
           
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!users.$resolved || users.length">
    	No Users yet, why don't you <a href="/#!/roster/create">create one</a>?
    </div>
</section>