<section data-ng-controller="UsersController">
	<div class="controls well" style="text-align:center;">
    	<div style="margin-bottom:10px;">
    		<input id="profileimage" type="button" class="btn btn-default" ngf-select="picSelected($files)" ng-model="profpic" name="profpic" value="Select Picture" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="10MB">
    	</div>
    	<div ngf-drop ng-model="profpic" ngf-pattern="image/*" class="cropArea" style="overflow:hidden;width:350px;height:350px">
   		 	<img-crop image="profpic  | ngfDataUrl" result-image-format="image/jpeg" area-type="square" result-image="croppedDataUrl" ng-init="croppedDataUrl=''"></img-crop>
		</div>
		<div>
			<label class="control-label" for="croppedimage">Cropped Profile Picture</label>
			<div>
    			<img id="croppedimage" ng-src="{{croppedDataUrl}}" />
    		</div>
		</div>
		
		<div>
    		<button id="confirmProfPic" ng-click="updateProfPic(croppedDataUrl)" class="btn btn-default" style="margin-top:10px;">Confirm</button>
    	</div>
		
        <span class="progress" ng-show="progress >= 0">      
        	<div style="width:{{progress}}%" ng-bind="progress + '%'"></div>
    	</span>
	</div>
</section>