<section data-ng-controller="UsersController" data-ng-init="findOne()">
	<div class="well top-well">
		<h1>{{user.firstName}} {{user.lastName}}</h1>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user))">
		<a class="btn btn-primary" href="/#!/users/{{user._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="user.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="user.displayName"></span>
		</em>
	</small>
</section>
