<section data-ng-controller="UsersController" data-ng-init="findOne()">
	<div class="col-md-12">
		<div class="well top-well">
			<h1>{{user.firstName}} {{user.lastName}}</h1>
		</div>
	</div>
	
	<!-- Left column -->
	<div class="col-md-3">
		<!-- Pic + Blurb -->
		<div class="col-md-12 well">
			<img class="prof-pic-fit" ng-show="user.profpic!=''" ng-src="data:image/jpeg;base64,{{user.profpic}}" alt="Profile Picture"></img>
			<img class="prof-pic-fit" ng-show="user.profpic==''" src="lib/pictures/pizza.jpg" alt="Profile Picture">
			<button class="btn btn-teal edit-img-btn" ng-click="updateProfPicModal('md');"><i class="fa fa-pencil-square-o"></i></button>
			<p></p>
			
			<!-- Projects Owned -->
			<span ng-if="user.ownerProjects.length > 0">
				<hr>
				<div style="padding-top:5px;">
					Owner of  
					<a ng-repeat="proj in user.ownerProjects" data-ng-href="#!/projects/{{proj._id}}">
						<strong><span data-ng-bind="proj.name">
						</span></strong><span ng-if="$index < user.ownerProjects.length-1 && user.ownerProjects.length > 2">,
						</span><span ng-if="$index == user.ownerProjects.length-2 && user.ownerProjects.length > 1"> and 
						</span><span ng-if="$index == user.ownerProjects.length-1">.</span>
					</a>
				</div>
			</span>
			
			<!-- Num of Teams -->
			<span ng-if="user.memberTeams.length > 0">
				<hr>
				<div style="padding-top:5px;">
					Member of 
					<span data-ng-bind="user.memberTeams.length"></span>
					<a data-ng-href="#!/teams">
						<strong> team<span ng-if="user.memberTeams.length != 1">s
						</span></strong>.
					</a>
				</div>
			</span>
			
		</div>
		
		<div class="col-md-12 well">
		</div>
	</div>
	
	<!-- Right column -->
	<div class="col-md-9">
		<div class="col-md-12 well">
			<!-- Tabs -->
			<span class="col-md-12" style="text-align:center" data-ng-init="selectedMod = 'event'">
				<div ng-click="selectedMod = 'event'" class="col-md-3 btn btn-default">
					Events
				</div>
				<div ng-click="selectedMod = 'project'" class="col-md-3 btn btn-default">
					Projects
				</div>
				<div ng-click="selectedMod = 'team'" class="col-md-3 btn btn-default">
					Teams
				</div>
				<div ng-click="selectedMod = 'task'" class="col-md-3 btn btn-default">
					Tasks
				</div>
			</span>
			
			<div ng-if="selectedMod == 'event'" class="col-md-12" style="margin-top:10px;">
				Events
			</div>
			
			<div ng-if="selectedMod == 'project'" class="col-md-12" style="margin-top:10px;">
				
				<span ng-if="user.ownerProjects.length > 0">
					Owner:
					<a ng-repeat="project in user.ownerProjects | orderBy: name" data-ng-href="#!/projects/{{project._id}}" class="list-group-item">
						<div class="row">
							<div class="col-md-6">
								<div class="project-rep-name list-group-item-heading" data-ng-bind="project.name"></div>
								<span data-ng-bind="project.teams.length"></span> team<span ng-if="project.teams.length != 1">s</span>, <span data-ng-bind="project.users.length"></span> member<span ng-if="project.users.length != 1">s</span>
							</div>
							<div class="col-md-6 project-rep-type">
								<div class="pull-right" data-ng-bind="project.type"></div>
							</div>
						</div>
					</a>
				</span>
				<a ng-repeat="project in user.memberProjects | orderBy: name" data-ng-href="#!/projects/{{project._id}}" class="list-group-item">
					<div class="row">
						<div class="col-md-6">
							<div class="project-rep-name list-group-item-heading" data-ng-bind="project.name"></div>
							<span data-ng-bind="project.teams.length"></span> team<span ng-if="project.teams.length != 1">s</span>, <span data-ng-bind="project.users.length"></span> member<span ng-if="project.users.length != 1">s</span>
						</div>
						<div class="col-md-6 project-rep-type">
							<div class="pull-right" data-ng-bind="project.type"></div>
						</div>
					</div>
				</a>
			</div>
			
			<div ng-if="selectedMod == 'team'" class="col-md-12" style="margin-top:10px;">
				<a ng-repeat="team in user.memberTeams | orderBy: name" data-ng-href="#!/teams/{{team._id}}" class="list-group-item">
					<div class="row">
					<span class="col-md-5">
						<h4 class="list-group-item-heading"><span data-ng-bind="team.name"></span> (<span data-ng-bind="team.project.name"></span>)</h4>
						<span data-ng-bind="team.users.length"></span> members
					</span>
					</div>
				</a>
			</div>
			
			<div ng-if="selectedMod == 'task'" class="col-md-12" style="margin-top:10px;" data-ng-controller="TasksController">
				<a ng-repeat="task in user.ownerTasks | orderBy: name" data-ng-href="#!/tasks/{{task.task._id}}" class="list-group-item">
					<small class="list-group-item-text">
					<div class="row">
					<div class="col-md-12" data-ng-init="getType(task.status)">
						<span class="project-rep-name list-group-item-heading" data-ng-bind="task.task.name"></span>
						<progressbar class="progress-detail active pull-right" value="getValue(task.task.status)" type="{{getType(task.task.status)}}"></progressbar>
					</div>
				</div>
				</a>
			</div>
		</div>
	</div>
	
	
	<div class="pull-right" data-ng-show="((authentication.user))">
		<a class="btn btn-primary" href="/#!/users/{{user._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
</section>
