<section data-ng-controller="TasksController" data-ng-init="find()">
    <div class="top-well well">
            <h1>Tasks</h1>
            <span class="pull-right">
                <a id="newTaskButton" class="btn btn-yellow create-button" ng-click="createModal('md')" style="font-size: 15px;"><i class="fa fa-plus"></i> &nbsp; New Task</a>
            </span>
    </div>
    
    <div class="list-group">
        <a data-ng-repeat="task in tasks" data-ng-href="#!/tasks/{{task._id}}" class="list-group-item">
			<small class="list-group-item-text">
			<div class="row">
				<div class="col-md-12" data-ng-init="getType(task.status)">
					<span class="project-rep-name list-group-item-heading" data-ng-bind="task.name"></span>
					<progressbar class="progress-detail active pull-right" value="getValue(task.status)" type="{{getType(task.status)}}"></progressbar>
				</div>
			</div>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!tasks.$resolved || tasks.length">
    	No Tasks yet, why don't you <a href="" ng-click="createModal('lg')">create one</a>?
    </div>
</section>