<section data-ng-controller="TasksController" data-ng-init="findOne();">
	 
	 <div class="row top-well">
        <div class="col-md-8 event-back">
            <a ng-href="/#!/tasks" class="btn btn-blue" style="margin-bottom: -20px;">
                <i class="fa fa-calendar"></i> &nbsp; All Tasks
            </a>
        </div>
        <div class="pull-right">
        	<strong class="btn btn-yellow" ng-click="createSubtaskModal('md'); updateParTask()" style="font-size: 15px;"><i class="fa fa-plus"></i> &nbsp; New Subtask</strong>
        </div>
    </div>
    
    
    <!-- Top well (event name/RSVP) -->
    <div class="col-md-12">
	    <div class="col-md-12 well">
	        <div class="col-md-9 event-name">
					<span data-ng-bind="task.name"></span>
	        </div>
	        <div class="col-md-3">
	        	<label data-ng-bind="displayStatus"></label>
			    <progressbar class="progress active" value="dynamic" type="{{type}}"></progressbar>
			    <strong class="btn btn-teal" ng-click="updateTaskStatus('sm')">Update</strong>
	        </div>
	    </div>
    </div>
	
	<!-- Left column -->
	<div class="col-md-4">
		<div class="col-md-12 well">
			Project: <a class="list-group-item" data-ng-href="#!/projects/{{task.project._id}}" data-ng-bind="task.project.name"></a>
		</div>
		
		<div class="col-md-12 well" ng-if="task.owners.users.length > 0">
			Owners:
			<a ng-repeat="owner in task.owners.users" data-ng-href="#!/users/{{owner.user._id}}" class="list-group-item">
				<span data-ng-bind="owner.user.displayName"></span>
			</a>
		</div>
		
		<div class="col-md-12 well" ng-if="task.workers.teams.length > 0">
			Workers (Teams): 
			<a ng-repeat="team in task.workers.teams" data-ng-href="#!/teams/{{team._id}}" class="list-group-item">
				<span data-ng-bind="team.name"></span>
			</a>
		</div>
		
		<div class="col-md-12 well" ng-if="task.workers.users.length > 0">
			Workers (Users): 
			<a ng-repeat="user in task.workers.users" data-ng-href="#!/users/{{user.user._id}}" class="list-group-item">
				<span data-ng-bind="user.user.displayName"></span>
			</a>
		</div>
	</div>
	
	<!-- Right column -->
	<div class="col-md-8">
		<!-- Path -->
		<div class="col-md-12 well">
			<span class="btn btn-teal" data-ng-bind="task.name"></span>
			<span ng-if="task.path.length == 0">
				(top-level task)
			</span>
			<span ng-repeat="parTask in task.path | orderBy:'-'" >
				<span ng-if="$index == 0">
					<i class="fa fa-arrow-left"></i>
				</span>
				<a class="btn btn-teal" data-ng-bind="parTask.name" data-ng-href="#!/tasks/{{parTask._id}}"></a>
				<span ng-if="$index < task.path.length - 1">
					<i class="fa fa-arrow-left"></i>
				</span>
			</span>
		</div>
		
		<!-- Description -->
		<div class="col-md-12 well">
			Description: <span data-ng-bind="task.description"></span>
		</div>
		
		<!-- Subtasks -->
		<div class="col-md-12 well" ng-if="task.subTasks.length > 0">
			Subtasks:
			<a ng-repeat="subtask in task.subTasks" data-ng-href="#!/tasks/{{subtask._id}}" class="list-group-item">
				<span data-ng-bind="subtask.name"></span>
				<progressbar class="progress-detail active pull-right" value="getValue(subtask.status)" type="{{getType(subtask.status)}}"></progressbar>
			</a>
		</div>
	</div>
	
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == task.user._id))">
		<a class="btn btn-primary" href="/#!/tasks/{{task._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	
</section>
