<section data-ng-controller="MessagesController">
    <div class="well top-well">
        <h1>New Conversation</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="recipients" data-ng-init="findUsers();">Recipients</label>
                    <div class="controls">
                        <select class="form-control js-example-basic-multiple" multiple="multiple" data-ng-model="guests" id="users">
                        	<option ng-repeat="user in users" data-ng-value="user._id">{{user.displayName}}</option>
                         </select>
                    </div>
                    <label class="control-label" for="content">Content</label>
                    <div class="controls">
                        <input type="text" data-ng-model="content" id="content" class="form-control" placeholder="Content" required>
                    </div>
                    <label class="control-label" for="picturePath">Picture Path</label>
                    <div class="controls">
                        <input type="text" data-ng-model="picturePath" id="picturePath" class="form-control" placeholder="Picture Path" required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>