<section data-ng-controller="MessagesController" data-ng-init="findOne()">
	<div class="col-md-12 well">
		<!-- Header -->
		<div class="row conversation-header">
			{{message.name}}
		</div>
		<!-- Messages -->
		<div class="row list-group">
			<!-- <div class="list-group-item message-item">
				<img class="message-img" src="/lib/pictures/Walter.jpg" alt="Walter" height="40" width="40">
				<p class="message-name"> Walter White</p>
				<p class="message-text">I mean, what kind of example do we want to set here, right? I mean, can't we at least just sit down and eat a piece of pizza together? Just hash things out like adults?</p>
				
			</div>
			
			<div class="list-group-item message-item">
				<img class="message-img" src="/lib/pictures/Skyler.jpg" alt="Skyler" height="40" width="40">
				<p class="message-name"> Skyler White (You) </p>
				<p class="message-text">We have discussed everything we need to discuss. I thought I made myself very clear. </p>
			</div>
			
			<div class="list-group-item message-item">
				<img class="message-img" src="/lib/pictures/Walter.jpg" alt="Walter" height="40" width="40">
				<p class="message-name"> Walter White </p>
				<p class="message-text">I got dipping sticks.</p>
			</div> -->			
			
			<div class="list-group-item message-item">
				<img class="message-img" src="/lib/pictures/Hank.jpg" alt="Hank" height="40" width="40">
				<p class="message-name"> Hank Schrader (You) </p>
				<p class="message-text">It says, "To W.W., my star, my perfect silence." W.W., I mean, who do you figure that is?</p>
			</div>
			
			<div class="list-group-item message-item">
				<img class="message-img" src="/lib/pictures/Hank.jpg" alt="Hank" height="40" width="40">
				<p class="message-name"> Hank Schrader (You) </p>
				<p class="message-text">Woodrow Wilson? </p>
			</div>
			
			<div class="list-group-item message-item">
				<img class="message-img" src="/lib/pictures/Hank.jpg" alt="Hank" height="40" width="40">
				<p class="message-name"> Hank Schrader (You) </p>
				<p class="message-text">Willy Wonka? </p>
			</div>
			
			<div class="list-group-item message-item">
				<img class="message-img" src="/lib/pictures/Hank.jpg" alt="Hank" height="40" width="40">
				<p class="message-name"> Hank Schrader (You) </p>
				<p class="message-text"> Walter White? </p>
			</div>
			
			<div class="list-group-item message-item">
				<img class="message-img" src="/lib/pictures/Walter.jpg" alt="Walter" height="40" width="40">
				<p class="message-name"> Walter White </p>
				<p class="message-text">You got me.</p>
			</div>
			
		</div>
		
		<!-- Reply -->
		<div class="row">
			<div class="col-md-12 controls new-message-convo">
   	           	<textarea class="form-control" placeholder="Your message here." rows="1" required></textarea>
               </div>	
		</div>
		
		<!-- Send button -->
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-3 col-md-offset-9 btn btn-blue pull-right send-button">
					<div>Send</div>
				</div>
			</div>	
		</div>
		
	</div>


</section>
