.event-name {
  margin-top: 10px;
  font-size: 45px;
}

.event-proj-type {
  font-size: 18px;
  margin-top: 10px;
}

.event-rsvp {
  font-size: 15px;
  margin-top: 10px;
  margin-right: 10px;
}

.event-rsvp-btns {
  padding-left: 15px;
}

.event-info {
  font-size: 20px;
}

.guest-list-header {
  font-size: 24px;
}

.guest-well {
  margin-left: 0px;
}

.event-back {
  margin-bottom: 30px;
}

.detail-well {
  padding-right: -5px;
}

.guest-well {
  padding-left: -5px;
}