.event-name {
  margin-top: 10px;
  font-size: 45px;
}

.event-proj-type {
  font-size: 18px;
  margin-top: 10px;
}

.event-rsvp {
  font-size: 15px;
  margin-top: 10px;
  margin-right: 10px;
}

.event-rsvp-btns {
  padding-left: 15px;
}

.event-info {
  font-size: 20px;
}

.guest-list-header {
  font-size: 24px;
}

.guest-well {
  margin-left: 0px;
}

.event-back {
  margin-bottom: 30px;
}

.detail-well {
  padding-right: -5px;
}

.guest-well {
  padding-left: -5px;
}

.event-rep-name {
  font-size: 26px;
}

.event-rep-date {
  font-size: 18px;
}

.event-rep-proj {
  padding-right: 10px;
}

.timepicker {
  padding-left: 50px;
}

.list-margin {
  margin-bottom: 5px;
}

/* ============================================================
  COMMON
============================================================ */
#wrapper {
  min-width: 600px;
}

.settings {
  display: table;
  width: 100%;
}
.settings .row {
  display: table-row;
}
.settings .question,
.settings .switch {
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
}
.settings .question {
  width: 600px;
  font-family: "Roboto Slab", serif;
  font-size: 20px;
}

/* ============================================================
  COMMON
============================================================ */
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* ============================================================
  SWITCH 2 - ROUND FLAT
============================================================ */
input.cmn-toggle-round-flat + label {
  padding: 0.5px;
  width: 60px;
  height: 30px;
  background-color: #dddddd;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:before, input.cmn-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}
input.cmn-toggle-round-flat + label:before {
  top: 1px;
  left: 1px;
  bottom: 1px;
  right: 1px;
  background-color: #fff;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:after {
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: 26px;
  background-color: #dddddd;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -ms-border-radius: 26px;
  -o-border-radius: 26px;
  border-radius: 26px;
  -webkit-transition: margin 0.4s, background 0.4s;
  -moz-transition: margin 0.4s, background 0.4s;
  -o-transition: margin 0.4s, background 0.4s;
  transition: margin 0.4s, background 0.4s;
}
input.cmn-toggle-round-flat:checked + label {
  background-color: #4565B0;
}
input.cmn-toggle-round-flat:checked + label:after {
  margin-left: 30px;
  background-color: #4565B0;
}

.button-labels label { 
  width: 70px;
  height: 50px;
  display: inline-block; 
  border: solid 1px #ddd; 
  background-color: #7D93C8;
  padding: 3px;
  font-size: 26px;
  text-align: center;
  color: #ffffff;
}
.button-labels input {
  display: none;
}

.btn-no-hover:hover {
  color: #fff;
}

input[type="checkbox"]:checked + label {
  background: #051F59;
}

.formTitles {
  font-size: 18px;
}

.slider-buttons {
  border-color: #00e0e0;
}

.personalName {
  font-size: 14px;
}
