<section class="full-team-modal" data-ng-controller="TeamsController" data-ng-init="findOne()">
    <div class="col-md-12 modal-col well">
        <span class="text-center">
        	<h1><u data-ng-bind="team.name"></u></h1>
        </span>

        <div>
	        <a data-ng-repeat="user in team.users | orderBy:'lastName'" data-ng-href="#!/users/{{user._id}}" ng-click="ok()" class="all-names"  tooltip-placement="bottom" tooltip="{{user.displayName}}">
				<!-- Last, First -->
   				<img class="prof-pic" ng-show="user.profpic!=''" ng-src="data:image/jpeg;base64,{{user.profpic}}" alt="Profile Picture">
       			<img class="prof-pic" ng-show="user.profpic==''" src="lib/pictures/pizza.jpg" alt="Profile Picture">
       			
	        </a>
        </div>
        
    </div>
</section>