<section data-ng-controller="TeamsController" data-ng-init="findOne(); setThreads()">
	<script type="text/ng-template" id="taskTree">
		<div data-ng-init="getType(task.status)" data-ng-controller="TasksController">
			<accordion close-others="false">
				<accordion-group is-disabled="status.isFirstDisabled">
      				<accordion-heading>
      					<span class="project-rep-name list-group-item-heading">
							<span data-ng-bind="task.name"></span>
							<span style="font-size: 12px" ng-if="task.subTasks.length > 0"> + <span data-ng-bind="task.subTasks.length"></span> more </span>
						</span>
      					<progressbar class="progress-detail active pull-right" value="getValue(task.status)" type="{{getType(task.status)}}"></progressbar>
      				</accordion-heading>
					
					<div>
						<i><small data-ng-bind="task.description"></small></i>
					</div>

					<!-- Deadline -->
					<div> Deadline: <span data-ng-bind="task.deadline"></span> </div>

					<!-- Owner(s) -->
					<div ng-if="task.owners.team || task.owners.users">
						Owner(s): 
						<!-- User(s) -->
						<span ng-repeat="userOwner in task.owners.users">
							<strong><a data-ng-bind="userOwner.user.displayName" data-ng-href="#!/users/{{userOwner.user._id}}"></a></strong> <span ng-if="$index < task.owners.users.length - 1 || task.owners.team">, </span>
						</span>
						
						<!-- Team -->
						<strong><a data-ng-bind="task.owners.team.name" data-ng-href="#!/teams/{{task.owners.team._id}}"></a></strong>
					</div>     				

					
					<!-- Worker(s) -->
					<div ng-if="task.workers.team || task.workers.users">
						Worker(s): 
						<!-- User(s) -->
						<span ng-repeat="userWorker in task.workers.users">
							<strong><a data-ng-bind="userWorker.user.displayName" data-ng-href="#!/users/{{userWorker.user._id}}"></a></strong> <span ng-if="$index < task.workers.users.length - 1 || task.workers.team">, </span>
						</span>
						
						<!-- Team -->
						<strong><a data-ng-bind="task.workers.team.name" data-ng-href="#!/teams/{{task.workers.team._id}}"></a></strong>
					</div>     		

					<a data-ng-href="#!/tasks/{{task._id}}">See more...</a>
      				
					<span ng-repeat="task in task.subTasks" ng-include="'taskTree'" data-ng-href="#!/tasks/{{task._id}}">           
					</span>

    			</accordion-group>
			</accordion>
		</div>
        <ul ng-if="task.subTasks">
        </ul>
    </script>
    
    <script type="text/ng-template" id="threadTree">
		<div class="list-group-item">
			<div class="row">
				<div class="col-md-1">
					<a data-ng-href="#!/users/{{thread.owner._id}}">
						<img class="prof-pic-thread" ng-show="thread.owner.profpic!=''" ng-src="data:image/jpeg;base64,{{thread.owner.profpic}}" alt="Profile Picture">
					</a>
				</div>
				<div class="col-md-11">
					<strong><a data-ng-bind="thread.owner.displayName" data-ng-href="#!/users/{{thread.owner._id}}"></a></strong>
					<span data-ng-bind="thread.text"></span>
					<div> <small>
						<span data-ng-bind="thread.votes.up.length"></span> upvotes, <span data-ng-bind="thread.votes.down.length"></span> downvotes, <span data-ng-bind="thread.subThreads.length"></span> replies
					</small> </div>
				</div>
			</div>	
			<hr>
			<span class="thread-action" ng-click="upvote(thread._id)"><i class="fa fa-chevron-up"></i> <strong>Upvote</strong> </span>
			<span class="thread-action" ng-click="downvote(thread._id)"><i class="fa fa-chevron-down"></i> <strong>Downvote</strong> </span>
			<span class="thread-action" ng-click="reply(thread._id, 'md')"><i class="fa fa-comments-o"></i> <strong>Reply</strong> </span>
			
			<span data-ng-repeat="thread in thread.subThreads" ng-include="'threadTree'"></span>
		</div>
    </script>
	
	<div class="col-md-12 top-well">
        <div class="col-md-8 event-back">
            <a ng-href="/#!/teams" class="btn btn-blue" style="margin-bottom: -20px;">
                <i class="fa fa-users"></i> &nbsp; All Teams
            </a>
        </div>
        <div data-ng-controller="TasksController" class="pull-right">
        	<span data-ng-init="setProjectId()">
        		<strong class="btn btn-yellow" ng-click="taskForTeamModal('md')" style="font-size: 15px;"><i class="fa fa-plus"></i> &nbsp; New Task</strong>
        	</span>
        </div>
        
    </div>

	<div class="col-md-12">	
		<div class="col-md-12 well">		
			<span class="col-md-7">
				<h1><i class="fa fa-users"></i>
				<span data-ng-bind="team.name"></span></h1>
			</span>
			
			<span class="col-md-3 col-md-offset-2 text-center project-team-whole">
				<span class="project-name-team">
					<strong><a data-ng-href="#!/projects/{{team.project._id}}" data-ng-bind="team.project.name"></a></strong>
				</span>
				<span class="project-team">
					Project Team
				</span>
			</span>
		</div>
	</div>

	<div class="col-md-4">
		<!-- Description -->
		<div class="col-md-12 well" ng-if="team.description">
			<span data-ng-bind="team.description"></span>
		</div>
	
		<!-- List of members -->
		<div class="col-md-12 well">
			<h4><strong>Members</strong></h4>
			<!-- Pics -->
			<!-- 4 or less users (all pics shown) -->
			<span ng-if="team.users.length <= 4">
				<a ng-repeat="user in team.users | limitTo: 4" data-ng-href="#!/users/{{user._id}}">
					<img class="prof-pic" popover-placement="top" popover="{{user.displayName}}" popover-trigger="mouseenter" ng-show="user.profpic!=''" ng-src="data:image/jpeg;base64,{{user.profpic}}" alt="Profile Picture">
					<!-- <img class="prof-pic" src="lib/pictures/pizza.jpg" alt="Profile Picture"> -->
				</a>
			</span>
			
			<!-- More than 4 users (some pics shown) -->
			<span ng-if="team.users.length > 4">
				<a ng-repeat="user in team.users | limitTo: 3" data-ng-href="#!/users/{{user._id}}">
					<img class="prof-pic" popover-placement="top" popover="{{user.displayName}}" popover-trigger="mouseenter" ng-show="user.profpic!=''" ng-src="data:image/jpeg;base64,{{user.profpic}}" alt="Profile Picture">
					<!-- <img class="prof-pic" src="lib/pictures/pizza.jpg" alt="Profile Picture"> -->
				</a>
				<span class="extraPics" ng-click="wholeTeam('xs')"> <span class="extraNums" data-ng-bind="getString(team.users.length - 3)"></span></span>
			</span>
			
			<!-- Text -->
			<!-- More than 3 users -->
			<div>
				<span ng-repeat="user in team.users | limitTo: 4" data-ng-init="setDynamicPopover()">
					<a ng-if="team.users.length < 4 || $index < 3" class="display-name" tooltip-placement="bottom" tooltip="{{user.displayName}}" data-ng-href="#!/users/{{user._id}}" data-ng-bind="user.firstName">
					</a><a ng-if="team.users.length == 4 && $index == 3" class="display-name" tooltip-placement="bottom" tooltip="{{user.displayName}}" data-ng-href="#!/users/{{user._id}}" data-ng-bind="user.firstName">
					</a><span ng-if="$index < team.users.length - 1 && $index < 3 && team.users.length > 2">,
					</span><span ng-if="$index == team.users.length - 2 || ($index == 2 && team.users.length > 4)"> and 
					</span><span ng-if="$index == team.users.length - 1">.
					</span><span ng-if="$index == 2 && team.users.length > 4"><a tooltip-placement="bottom" tooltip="{{dynamicPopover}}" ng-click="wholeTeam('md')"><span data-ng-bind="team.users.length - 3"></span> others.</a>
					</span>
					
				</span>
			</div>			
		</div>
	</div>
	
	<div class="col-md-8">
		
		<!-- Tasks -->		
		<div class="col-md-12 well" data-ng-controller="TasksController">
    		<h4><strong>Tasks</strong></h4>
    		
    		<div class="alert alert-blue text-center" ng-if="!(team.workerTasks.length > 0 || team.ownerTasks.length > 0)" data-ng-controller="TeamsController">
    			No Tasks for this team yet - why don't you  <strong><u href="" ng-click="taskForTeamModal('md')" style="cursor:pointer">create one</u></strong>?
   			</div>
    		
    		<span ng-if="team.ownerTasks.length > 0 || team.workerTasks.length > 0" >
	    		<div data-ng-repeat="task in team.ownerTasks | orderBy: 'deadline'">
					<div class="col-md-12">
						<span ng-include="'taskTree'"></span>
					</div>	
				</div>
				
				<div data-ng-repeat="task in team.workerTasks | orderBy: 'deadline'">
					<div class="col-md-12">
						<span ng-include="'taskTree'"></span>
					</div>	
				</div>
			</span>
   		</div>
	
		<!-- Threads -->
		<div class="col-md-12 well" data-ng-controller="ThreadsController">
			<h4><strong>Threads</strong></h4>
			<div class="alert alert-blue text-center" ng-if="team.threads.length == 0">
    			No Threads for this team yet - why don't you <strong><u ng-click="createModal('lg')" style="cursor:pointer">create one</u></strong>?
   			</div>
			
			<span ng-if="team.threads.length > 0" >
				<div data-ng-repeat="thread in team.threads">
					<span ng-include="'threadTree'"></span>
				</div>
				
	            <div class="form-group pull-right">
					<input id="create-group-button" type="submit" ng-click="createModal('lg')" class="btn btn-yellow" value="Create Thread">
	            </div>
			</span>
		</div>
	</div>
	
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == team.user._id))">
		<a class="btn btn-primary" href="/#!/teams/{{team._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
</section>
