<section data-ng-controller="TeamsController" data-ng-init="findOne()">
	<script type="text/ng-template" id="taskTree">
		<div data-ng-init="getType(task.status)" data-ng-controller="TasksController">
			<accordion close-others="false">
				<accordion-group is-disabled="status.isFirstDisabled">
      				<accordion-heading>
      					<span class="project-rep-name list-group-item-heading">
							<span data-ng-bind="task.name"></span>
							<span style="font-size: 12px" ng-if="task.subTasks.length > 0"> + <span data-ng-bind="task.subTasks.length"></span> more </span>
						</span>
      					<progressbar class="progress-detail active pull-right" value="getValue(task.status)" type="{{getType(task.status)}}"></progressbar>
      				</accordion-heading>
					
					<div>
						<i><small data-ng-bind="task.description"></small></i>
					</div>

					<!-- Deadline -->
					<div> Deadline: <span data-ng-bind="task.deadline"></span> </div>

					<!-- Owner(s) -->
					<div ng-if="task.owners.team || task.owners.users">
						Owner(s): 
						<!-- User(s) -->
						<span ng-repeat="userOwner in task.owners.users">
							<strong><a data-ng-bind="userOwner.user.displayName" data-ng-href="#!/users/{{userOwner.user._id}}"></a></strong> <span ng-if="$index < task.owners.users.length - 1 || task.owners.team">, </span>
						</span>
						
						<!-- Team -->
						<strong><a data-ng-bind="task.owners.team.name" data-ng-href="#!/teams/{{task.owners.team._id}}"></a></strong>
					</div>     				

					
					<!-- Worker(s) -->
					<div ng-if="task.workers.team || task.workers.users">
						Worker(s): 
						<!-- User(s) -->
						<span ng-repeat="userWorker in task.workers.users">
							<strong><a data-ng-bind="userWorker.user.displayName" data-ng-href="#!/users/{{userWorker.user._id}}"></a></strong> <span ng-if="$index < task.workers.users.length - 1 || task.workers.team">, </span>
						</span>
						
						<!-- Team -->
						<strong><a data-ng-bind="task.workers.team.name" data-ng-href="#!/teams/{{task.workers.team._id}}"></a></strong>
					</div>     		

					<a data-ng-href="#!/tasks/{{task._id}}">See more...</a>
      				
					<span ng-repeat="task in task.subTasks" ng-include="'taskTree'" data-ng-href="#!/tasks/{{task._id}}">           
					</span>

    			</accordion-group>
			</accordion>
		</div>
        <ul ng-if="task.subTasks">
        </ul>
    </script>
	
	<div class="row top-well">
        <div class="col-md-8 event-back">
            <a ng-href="/#!/teams" class="btn btn-blue" style="margin-bottom: -20px;">
                <i class="fa fa-users"></i> &nbsp; All Teams
            </a>
        </div>
        <div class="pull-right">
        	<strong class="btn btn-yellow" ng-click="createModal('md')" style="font-size: 15px;"><i class="fa fa-plus"></i> &nbsp; New Team</strong>
        </div>
        
    </div>
	
	<div class="col-md-12">
		<div class="well">
			<h1>
				<i class="fa fa-users"></i>
				<span data-ng-bind="team.name"></span>
			</h1>
		</div>
	</div>

	<div class="col-md-12">
		<div class="col-md-12 well">
			<strong><a data-ng-href="#!/projects/{{team.project._id}}" data-ng-bind="team.project.name"></a></strong> project team.
		</div>
	</div>
	
	
	<div class="col-md-4">
		<!-- List of members -->
		<div class="col-md-12 well">
			<h4>Members</h4>
			<a ng-repeat="user in team.users" data-ng-href="#!/users/{{user._id}}" class="list-group-item">
				<img class="prof-pic" src="lib/pictures/pizza.jpg" alt="Profile Picture">
				&nbsp; <span class="display-name" data-ng-bind="user.displayName"></span>
			</a>
		</div>
	</div>
	
	<div class="col-md-8">
		
		<!-- Tasks -->		
		<div class="col-md-12 well" data-ng-controller="TasksController">
    		<h1>Tasks</h1>
    		<div data-ng-repeat="task in team.ownerTasks | orderBy: 'deadline'">
				<div class="col-md-12">
					<span ng-include="'taskTree'"></span>
				</div>	
			</div>
			
			<div data-ng-repeat="task in team.workerTasks | orderBy: 'deadline'">
				<div class="col-md-12">
					<span ng-include="'taskTree'"></span>
				</div>	
			</div>
   		</div>
	
		<!-- Threads -->
		<div class="col-md-12 well" data-ng-controller="ThreadsController">
			<h4>Threads</h4>
			<form class="form-horizontal" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="text">New Thread</label>
                    <div class="controls">
                        <textarea data-ng-model="text" id="text" class="form-control" placeholder="We would like a large pie with pepperoni, pineapple and cheesy crust." rows="3" required></textarea>
                    </div>
                </div>
            </fieldset>
            </form>
            <div class="form-group pull-right">
				<input id="create-group-button" type="submit" ng-click="create()" class="btn btn-yellow" value="Create Thread">
            </div>
			
		</div>
	</div>
	
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == team.user._id))">
		<a class="btn btn-primary" href="/#!/teams/{{team._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
</section>
