<section data-ng-controller="GroupsController">
    <div class="col-md-12 modal-col well">
        <h1><u>New Group</u></h1>
        <form class="form-horizontal" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                    <div class="examples">
                        Examples: "Delivery People", "Cooks"
                    </div>
                </div>
                
                <!-- Add to Group -->
                <div class="form-group">
                   <label class="control-label" for="members">Members</label>
                   <select class="form-control js-example-basic-multiple" multiple="multiple" data-ng-model="members" id="members" data-ng-init="findUsers()">
                       <option ng-repeat="user in users" data-ng-value="user._id">{{user.displayName}}</option>
                   </select>
				</div> 
                
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
               <div class="row modal-buttons">
                    <div class="col-md-6">
                        <div class="form-group pull-left">
                            <button type="button" ng-click="ok()" class="btn btn-teal" value="">Cancel</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group pull-right">
                            <input id="create-group-button" type="submit" ng-click="create()" class="btn btn-yellow" value="Create Group">
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</section>