<section data-ng-controller="GroupsController" data-ng-init="find()">
    <div class="top-well well">
            <h1>Groups</h1>
            <span class="pull-right">
                <a class="btn btn-yellow create-button" ng-click="createModal('md')" style="font-size: 15px;"><i class="fa fa-plus"></i> &nbsp; New Group</a>
            </span>
    </div>
    
    <div class="list-group">
        <a data-ng-repeat="group in groups" data-ng-href="#!/groups/{{group._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="group.created | date:'medium'"></span>
				by
				<span data-ng-bind="group.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="group.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!groups.$resolved || groups.length">
    	No Groups yet, why don't you <a href="" ng-click="createModal('lg')">create one</a>?
    </div>
</section>